html{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  overflow: hidden;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body,html,p,div,*,.col .row{
  margin: 0;
  padding: 0;
}
#jobdetails,#createjob{
  display: none;
}
body{
  overflow: auto;
  position: relative;
  background: #fff;
}
ol li{
  list-style-type: none;
}
.content-body{
  background: #f4f5f7;
  padding:0 15px 20px;
}
#task .content-body{
  margin-top: 118px;
  margin-left: 50px;
  padding:20px;
}
#createjob .activejobs{
  height: calc(100vh - 218px);
}
.jobdetails{
  padding-top: 167px;
  margin-left: 50px;
}
.brand-logo img{
  width: 140px;
}
nav a.menu-link .bar1, nav a.menu-link .bar2, nav a.menu-link .bar3 {
  width: 100%;
  height: 2px;
  margin: 3px 0;
  transition: 0.4s;
  background-color: #666;
}
nav a.menu-link {
  width: 18px;
  background: none !important;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  padding:0;
}
nav .brand-logo{
  position: relative;
  line-height: 0;
}
nav .brand-logo a:hover,nav .dropdown a:hover{
  background: transparent;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: none;
  box-shadow: none;
}
nav ul li:hover, nav ul li.active{
  background: none;
}
nav .toggleMenu {
  float: right;
  margin-left: 20px;
}
nav .search-container {
  float: none;
  display: inline-block;
  z-index: 99999;
  background: #fff;
  margin-top: 11px;
  min-width: 400px;
  width: 30%;
  max-width: 600px;
}
.content-body .task-details .textarea-edit{
  position: relative;
  right: 0;
}
nav .search-container .search .input-field {
  padding: 0 3px;
  background: #f5f5f5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  height: 37px;
  line-height: 35px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
nav .search-container .search .input-field .prefix,.createmenu-body .input-field .prefix {
  top: 0;
  width: 30px;
  line-height: 36px !important;
  height: 35px;
  font-size: 15px;
}
nav .search-container .search i ,.createmenu-body .input-field .prefix{
  line-height: 34px !important;
  vertical-align: middle;
  color: #666;
  font-size: 16px;
  text-align: center;
}
nav .search-container .search .input-field input,.createmenupopup input[type="text"] {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin-left: 29px;
  border: none;
  box-shadow: none;
  color: #666;
  width: 95%;
  transition: 0s !important;
  vertical-align: middle;
  margin-bottom: 0;
  padding:0;
}
.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s;
  top: .5rem;
}
nav .input-field {
  margin: 0;
}
nav{
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 60px;
  line-height: 59px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}
#task .content-header{
  height: 60px;
  padding: 15px 10px 20px;
  margin-left: 50px;
  left: 0;
}
#task .content-body ol li{
  padding-right: 20px;
}
#task .content-body ol li:last-child{
  padding-right: 0;
}
#task .content-body ol li dl {
  background: url(../images/todo.png) no-repeat #fff 48px 37px;
  padding: 30px 30px 30px 130px;
  border: 1px solid #cdcdcf;
  webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
#task .content-body ol li dl:before{
  height: 70px;
  display: block;
  width: 1px;
  border-right: 1px solid #cdcdcf;
  content: '';
  left: 115px;
  position: absolute;
}
#task .content-body ol li dl dt{
  font-size: 16px;
  font-family: Source Sans Pro;
  color: #808080;
}
#task .content-body ol li dl dd{
  font-size: 30px;
  font-family: Source Sans Pro;
  color: #666;
}
.content-header{
  line-height: 0;
  position: fixed;
  background: #fff;
  right: 0;
  left: 50px;
  padding: 0 20px;
  z-index: 1;
  height: 93px;
  display: inline-block;
  border-bottom: 1px solid #cdcdcf;
  top: 59px;
}
*::placeholder {
  color: #666; 
}
nav .search-container .search .input-field .prefix.active,.createmenu-body .input-field .prefix.active{
  color: #000;
}
.jobno{
  line-height: 57px;
}
.jobno h2,.jobno input[type="text"]{
  margin:0;
  color: #030000;
  font-size: 26px;
}
.jobno input[type=text]:not(.browser-default).header{
  width: auto;
}
span.sitecode{
  padding: 4px 8px;
  background: #373d47;
  color: #fff;
  border-radius: 2px;
  margin: 10px;
  font-size: 12px;
  position: relative;
  top: 2px;
}
.jobno span,.jobno input[type="text"],.jobno h2,.headeredit i{
  vertical-align: middle;
}
.content-header ul{
  line-height: 30px;
}
.inline{
  display:inline;
}
.inline-block{
  display: inline-block;
}
.block{
  display: block;
}
.width-3{
  width:3% !important;
}
.width-88{
  width:88% !important;
}
.width-4{
  width:4% !important;
}
.width-96{
  width:96% !important;
}
.autowidth{
  width:auto;
}
.row{
  margin-bottom: 0;
}
.primarycolor{
  color:#297dcf;
}
.border-bot-grey{
  border-bottom:1px solid #c4c3c3;
}
.userimg{
  width:30px;
  border-radius:40px;
  border:1px solid #a6a8a7;
  height:30px;
}
.mar-10{
  margin:10px;
}
.mar-5{
  margin:0 7px;
}
.pad-0,.input-field.pad-0{
  padding: 0 !important;
}
div .headingtag{
  font-size: 22px;
  color:#666;
  font-family: 'Roboto';
  padding: 20px 20px;
  margin: 0;
  line-height: 19px;
}
i{
  cursor: pointer;
}
#outputtab span.percentage,#inputtab span.percentage,span.percentage,#inputtabpopup span.percentage{
  margin-left: 10px;
  display: inline-block;
  padding:0;
  line-height: 0;
}
div .heading,span.attachment,span.percentage{
  font-size:13px;
  color:#808080;
  font-family: 'Source Sans Pro';
}
.brandorder span,.digitalorder span,.printorder span{
  font-size: 16px;
  color: #666;
  font-family: 'Source Sans Pro';
}
.createorders .printorder,.createorders .digitalorder,.createorders .brandorder{
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #c4c3c3;
}
.createorders .printorder .ordername,.createorders .digitalorder .ordername,.createorders .brandorder .ordername{
  line-height: 33px;
  font-family: 'Source Sans Pro';
}
div .content{
  font-size:14px;
  color:#000;
  font-family: 'Source Sans Pro';
}
.selectbox{
  margin:0 10px;
}
.details-content,.task-details,.attachment-details,.subTasks-details,.linkeditem-details{
  padding:0 20px 20px;
}
.messagecontent{
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}
.changeLogs{
  padding: 0 20px;
  margin: 5px 0 20px 0;
}
.changeLogs .changeLogWrap{
  padding: 15px 0 10px 0;
  border-bottom: 1px solid #ccc;
}
.greyGradient {
  background: #f4f5f7;
  background: -moz-linear-gradient(top, #f4f5f7 1%, #efefef 48%, #e3e3e3 100%);
  background: -webkit-linear-gradient(top, #f4f5f7 1%, #efefef 48%, #e3e3e3 100%);
  background: linear-gradient(to bottom, #f4f5f7 1%, #efefef 48%, #e3e3e3 100%);
}
.tabs{
  height: 35px;
  margin: 10px 0 0;
  line-height: 35px;
}
.usersmessages{
  width: 100%;
}
nav.nav-wrapper{
  webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
  z-index: 8;
}
.tabs .tab a.active,.tabs .tab a:hover,ul li a:hover{
  color:#000;
}
.tabs .tab a.active{
  border-bottom: 2px solid #4688f1;
}
.tabs .tab a{
  color:#666666;
  text-align: left;
  display: inline-block;
  width: auto;
}
.tabs li.tab{
  width: 100%;
  text-align: left;
  height: 35px;
  line-height: 35px;
}
.tabs .indicator{
  display: none;
}
table tr,div.border-bot-table{
  border-bottom: .5px solid #e5e5e5;
  line-height: 28px;
}
div.border-bot-table:last-child{
  border-bottom:none;
}
table tr,span.td{
  border-bottom: .5px solid #e5e5e5;
}
table tr:last-child{
  border-bottom: none;
}
#versiontab,#revisiontab,#exceptiontab,#inputtab,#outputtab,#inputtabpopup,#outputtabpopup,#versiontabpopup,#revisiontabpopup,#exceptiontabpopup{
  border-top: 1px solid #e5e5e5;
}
table tr th,span.th{
  font-family: 'Source Sans Pro';
  color: #000;
  font-weight: normal;
  font-size: 14px;
  padding: 9px 15px 9px 0;
  width: 100px;
  border-bottom: 1px solid #e5e5e5;
}
table tr td,span.td{
  color: #666;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  padding: 8px 15px 8px 0;
  cursor: pointer;
}
span.td,span.th{
  display: inline-block;
  width: 12.2%;
  border-bottom: none;
}
#task span.td,#task span.th{
  width: 9%; 
}
#task span.td.art,#task span.th.art,#task span.td.type,#task span.th.type{
  width: 7%;
}
#task span.td.status{
  width: 12%
}
#task span.td.primarycolor,#task span.th.primarycolor{
  width: 12%
}
span.td.jobdesc,span.th.jobdesc{
  width: 20%
}
span.th.jobinfoheader{
  width: 2%;
}
.greytext{
  color:#808080;
}
.roboto{
  font-family:'Roboto';
}
.source-sans{
  font-family: 'Source Sans Pro';
}
.font14{
  font-size:14px;
}
form h4.headingtag{
  margin:0;
  border-bottom: 1px solid #ccc;
}
textarea#address{
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 10px 0;
  color: #666;
  text-indent: 12px;
  margin: 0;
  height: 60px !important;
  font-size: 13px;
}
textarea#address:focus{
  border: 1px solid #eaeaea !important;
  box-shadow: none;
}
i.attach{
  color: #a5a5a5;
  font-size: 25px;
  transform: rotate(220deg);
}
span.file{
  line-height: 29px;
  display: inline-block;
  vertical-align: top;
}
div.progress{
  background: #ccc;
  margin: 0.6rem 0 1rem 0;
}
div.taskbar{
  width: 40%;
  float: left;
  margin: 13px 8px 0 0;
}
.progress div.determinate{
  background: #2978c4;
}
.blueGradient,#sideNav .tabs .tab a.active, .daterangepicker .calendar-table table tr .prev:hover, .daterangepicker .calendar-table table tr .next:hover{
  background: #399dff;
  background: -moz-linear-gradient(top, #399dff 0%, #297dcf 100%);
  background: -webkit-linear-gradient(top, #399dff 0%, #297dcf 100%);
  background: linear-gradient(to bottom, #399dff 0%, #297dcf 100%);
}
ul{
  display: inline-block;
}
.dropdown-contents ul{
  padding:10px 0;
}
ul li{
  float:left;
  margin-right: 20px;
}
ul li a{
  display: inline-block;
  color: #8c8c8c;
}
.content-header ul li a{
  padding-bottom: 2px;
}
ul li a.active{
  color: #000;
  border-bottom: 2px solid #4688f1;
  font-weight: bold;
  font-size: 14px;
}
.replymessage div.replycontent{
  padding: 0;
  margin: 0 0 15px 15px;
  border: 1px solid #ccc;
  width: 95% !important;
  border-radius: 4px;
}
.replymessage img.userimg{
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
div.replycontent div.replyattachment{
  padding: 20px 20px 0;
}
div.replycontent div.replyfiles{
  padding: 0 20px 15px;
}
.messagecontent div.replytextarea{
  padding: 15px 20px;
}
.messagecontent .usersmessages div.width-96{
  border-top: 1px solid #ccc;
  position: relative;
  padding:15px 0;
  margin-left: 4%;
}
.messagecontent .usersmessages div.row:first-child div.width-96{
  border-top: none;
}
.usersmessages div.width-96 span.username{
  margin: 5px 10px;
  display: inline-block;
}
.usersmessages div.width-96 p.usermessage{
  margin: 0 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 22px;
  text-align: justify;
}
div.add_circle i{
  font-size: 25px;
  color: #999;
}
.messagecontent .loadmore input,.discard_message{
  padding: 10px 15px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  color: #666;
}
.Messages .messagecontent div.loadmore{
  margin: 20px 0 0 4%;
  border-top: 1px solid #ccc;
  position: relative;
  width: 96%;
}
div.loadmore a{
  position: absolute;
  top: -20px;
  left: 40%;
  letter-spacing: 0;
  line-height: 31px;
  font-size: 13px;
}
span.username .date{
  position: relative;
}
span.username .time{
  margin-left: 10px;
}
span.username .time:before{
  content: '';
  border-left: 1px solid #808080;
  width: 2px;
  height: 17px;
  top: 0;
  position: absolute;
  right: 52px;
}
.loadmoreGradient {
   background: #f3f4f6; /* Old browsers */
   background: -moz-linear-gradient(top, #f3f4f6 1%, #f1f1f2 48%, #e8e8e8 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #f3f4f6 1%,#f1f1f2 48%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #f3f4f6 1%,#f1f1f2 48%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f5', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}
.changeTypeIcon,.taskstatus .filter{
  background-image: url(../images/sprites_v17.svg);
  background-repeat: no-repeat;
  background-size: auto 900px;
}
.taskstatus .filter{
  background-size: auto 550px;
}
.taskstatus,.taskstatus .order-by span{
  padding-right: 10px;
}
.changeTypeIcon.change,.changeTypeIcon.create,.changeTypeIcon.download,.taskstatus .filter{
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
}
.changeTypeIcon.change{
  background-position: -458px -272px;
}
.taskstatus .filter{
  background-position: -60px -45px;
}
.taskstatus .filter.change{
  background-position: -110px -45px;
  width: 22px;
}
.changeTypeIcon.create{
  background-position: -563px -367px;
  background-size: auto 1100px;
}
.changeTypeIcon.download{
  background-position: -616px -433px;
  background-size: auto 1200px;
}
div.changedVal{
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 13px 15px 13px 38px;
  margin: 10px 0 10px 34px;
  position: relative;
  min-height: 70px;
  line-height: 42px;
  transition: .3s background-color;
}
span.changeborder{
  width: 44px;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 50px;
  line-height: 0;
  margin-left: -27px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
  line-height: 44px;
}
.details,.task,.attachments,.subTasks,.linkedItem,.Messages,.activity,.activejobs{
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 5px #e9eaec;
  border-radius: 4px;
}
.task-details{
  border-bottom: 1px solid #c4c3c3;
}
.detailstask-edit{
  padding: 16px 20px;
  line-height: 30px;
  vertical-align: middle;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #ccc;
  border-radius: 2px;
  z-index: 1;
  display: none;
}
.editOperations,span.imageattached,span.jobinfo{
  background-image: url(../images/sprites_v17.svg);
  background-repeat: no-repeat;
}
.editOperations.edit{
  background-position: -183px -38px;
  background-size: auto 463px;
  }
.editOperations.delete{
  background-position: -243px -36px;
  background-size: auto 463px;
}
.imageattached.format{
  background-position: -234px -664px;
  background-size: auto 700px;
}
.replyattachment .imageattached.format{
  width: 34px;
  height: 34px;
}
.replyattachment .filetype{
  line-height: 17px;
}
.editOperations.edit,.editOperations.delete,.imageattached.format,span.jobinfo{
  width: 20px;
  height: 26px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.editOperations.edit,.editOperations.delete{
  display: none;
}
.content-header .editOperations.edit{
  display: inline-block
}
.jobno .headeredit{
  padding:10px 0;
}
.editOperations.edit:hover{
  background-position: -183px -63px;
}
.headeredit i{
  font-size: 25px;
  color: #666;
  display: none;
}
.headeredit{
  float: right;
  padding: 10px 20px;
  line-height: 40px;
}
.filesselect .select-wrapper span.caret,.subtaskselect .select-wrapper span.caret{
  right: 15px;
  top: 0;
  font-size: 16px;
  color: #fff;
}
.filesselect .select-wrapper,.subtaskselect .select-wrapper{
  border-radius: 4px;
  color: #fff;
}
.filesselect input[type="text"],.subtaskselect input[type="text"]{
  text-indent: 15px;
  margin: 0;
  border-bottom: none;
  height: 40px;
}
.filesselect,.subtaskselect{
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}
.subtaskselect{
  width: 180px;
}
span.userImg{
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
img{
  vertical-align: middle;
  max-width: 100%;
}
.userTitle{
  font-weight: bold;
  display: inline-block;
  margin-right: 8px;
  color: #000;
  vertical-align: middle;
  font-size: 14px;
}
.changeType{
  display: inline-block;
  color: #000;
  padding-left: 12px;
  vertical-align: middle;
  position: relative;
  font-size: 14px;
}
.changeType:before{
  content: '';
  border-left: 1px solid #999;
  width: 2px;
  height: 17px;
  top: 4px;
  position: absolute;
  left: 0;
}
.changedBy{
  line-height: 25px;
}
.changeTime{
  font-size: 13px;
  color: #666;
  float: right;
  vertical-align: middle;
  margin-top: 1px;
}
div.changeDetailsHeader{
  color: #000;
  text-transform: uppercase;
  line-height: 22px;
  font-size: 14px;
}
.changeDetailsDesc{
  max-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 94%;
  transition: .5s all ease-in;
  line-height: 22px;
  color: #666;
  font-size: 14px;
}
.changeDetails{
  line-height: 22px;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}
.usersmessages .add_circle{
  bottom: 20px;
}
.circle_expand,.add_circle{
  position: absolute;
  right: 0 !important;
  bottom: 8px;
  cursor: pointer;
  line-height: 0;
  color: #666;
}
.usersmessages div.add_circle:last-child{
  bottom: 40px;
}
.circle_expand{
  right: 20px !important
}
div.changedVal:hover{
  background: #fff;
}
.circle_expand i:hover,.add_circle i:hover{
  color: #000;
}
.changeDetailsDesc.expand,.usersmessages div.width-96 p.usermessage.expand{
  max-height: 500px;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: normal;
}
.row .col{
  padding: 0;
  margin: 0;
}
div.details-content .row,div.task-details .row{
  padding-top: 20px;
}
div.details-content p,div.task-details p{
  margin-bottom: 5px;
  line-height: 17px;
}
.button.btn-primary:hover {
  color: #fff;
  background: #297dcf;
  border:1px solid transparent;
  background: -moz-linear-gradient(top, #297dcf 0%, #297dcf 100%);
  background: -webkit-linear-gradient(top, #297dcf 0%, #297dcf 100%);
  background: linear-gradient(to bottom, #297dcf 0%, #297dcf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#297dcf', endColorstr='#297dcf',GradientType=0 );
}


/* sidebar css */

.sidebar-mini .sidebar {
  width: 50px;
}
.sidebar {
  width: 180px;
  position: fixed;
  z-index: 2;
  top: 60px;
  left: 0;
  transition: all .5s;
}
.main-panel, .sidebar {
  max-height: 100%;
  height: 100%;
}
#sideNav {
  transition: 0.3s all;
  width: 50px;
  margin-top: 1px;
  z-index: 2;
}
.sidebar .side-menu ul li a:hover {
  background: #1f242c;
  transition: all .3s ease-out;
}
.sidebar .side-menu {
  height: 100%;
  -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  overflow-x: hidden;
  transition: 0.5s;
  background: #363d47;
}
#sideNav .tabs {
  height: auto;
}
.sidebar .side-menu ul {
  padding: 0;
  margin: 0;
  box-shadow: none !important;
  border: none !important;
  background: #363d47;
}
.sidebar-mini .tabs {
  overflow-x: hidden;
}
#sideNav .tabs .tab {
  display: block;
  text-align: left;
  text-transform: capitalize;
  line-height: 51px;
  height: 51px;
}
#sideNav.active {
  width: 180px;
}
#sideNav .tabs .tab a.active, #sideNav .tabs .tab a.active:focus {
  outline: none;
  color: #fff;
  border-bottom: none;
  width: 100%;
}
#sideNav:hover {
  width: 180px; }
  #sideNav:hover ul li a p {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    height: auto;
    opacity: 1 !important;
    padding: 0;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear; }
.sidebar-mini .tabs .tab a {
  overflow: inherit;
  text-overflow: inherit;
  text-transform: capitalize;
  font-weight: normal;
}
.sidebar .side-menu ul li .spriteWrap {
  width: 50px;
  display: inline-block;
  height: 50px;
}
.sidebar .side-menu ul li a {
  color: #666;
  -webkit-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  background: none;
  border-bottom: none;
  line-height: 45px;
  vertical-align: top;
  text-overflow: inherit;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}
.sidebar .side-menu ul li a {
  padding: 0 !important;
  line-height: 47px !important;
  width: 100%;
}
#sideNav .tabs .tab a.active p, #sideNav .tabs .tab a.active:focus p {
  color: #fff;
}
body.sidebar-mini .side-menu ul li a p{
  margin-left: -9px;
  opacity: 0;
  transform: translate3d(-25px, 0, 0);
  -webkit-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
}
#sideNav.active ul li a p {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  height: auto;
  opacity: 1 !important;
  padding: 0;
  -webkit-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
}
.sidebar  .side-menu ul li a p {
  margin: 0;
  line-height: 32px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #ccc;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  height: auto;
  opacity: 1;
  padding: 0;
  -webkit-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
}
.sidebar .side-menu ul li p {
  display: inline-block;
}
.sidebar .side-menu ul li .spriteWrap .menuSprite.asset {
  width: 20px;
  height: 16px;
  background-position: 0px -9px;
}
.sidebar .side-menu ul li .spriteWrap .menuSprite.batchDet {
  width: 18px;
  height: 22px;
  background-position: -18px -10px;
}
.sidebar .side-menu ul li .spriteWrap .menuSprite.report {
  width: 22px;
  height: 22px;
  background-position: -36px -9px;
}
.sidebar .side-menu ul li .spriteWrap .menuSprite.setting {
  width: 22px;
  height: 22px;
  background-position: -57px -10px;
}
.sidebar .side-menu ul li .spriteWrap .menuSprite.help {
  width: 22px;
  height: 22px;
  background-position: -148px -10px;
  background-size: auto 350px;
  opacity: .9;
}
.sideMenuOpen .rhs{
  margin-left: 178px;
  left: 0;
}
.sideMenuOpen #task .rhs{
  margin-left: 178px !important;
  left: 0;
}
.sideMenuOpen .drafts.rhs{
  margin-left: 0;
  left: 178px;
}
.sideMenuOpen .rhs .content-header{
  margin-left: 130px;
}
.content-header,.jobdetails,.content-body {
  transition: margin-left .3s;
}
.drafts,.border-bot-table.header{
  transition: left .3s;
  display: none;
}
div.border-bot-table.header{
  border-bottom: .5px solid #e5e5e5;
}
.sidebar .side-menu ul li .spriteWrap .menuSprite {
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  left: 48%;
  transform: translateX(-50%);
  background: url(../images/sprites_v17.svg);
  background-size: auto 400px;
  background-repeat: no-repeat;
}

/* header notification css */
nav ul.left.mRight {
  margin-left: 15px;
}
nav ul.right.mRight {
  margin-right: 12px;
}
.dropdown,.tooltipped {
  position: relative
}
.dropdown .hover-link{
  font-size: 15px;
  display: inline-block;
}
nav .navSideMenu > li > a > span.appMenuWrapBtn {
  background-position: -21px -43px;
}
.dropdown .hover-link span {
  font-size: 14px;
}
nav .navSideMenu > li > a > span {
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url(../images/sprites_v17.svg);
  background-size: auto 450px;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.tooltipped[data-position="bottom"] .tooltiptext::after {
  bottom: 100%;
  top: auto;
  border-color: transparent transparent #323232 transparent;
}
.tooltipped .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #323232 transparent transparent transparent;
}
.tooltipped[data-position="bottom"] .tooltiptext {
  bottom: auto;
  top: 125%;
}
body .tooltipped span.tooltiptext {
  visibility: hidden;
  width: auto !important;
  background-color: #323232 !important;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-out, top 0.3s ease-out, bottom 0.3s ease-out, right 0.3s ease-out;
  z-index: 99998;
  background-image: none !important;
  font-size: 13px;
  padding: 6px 10px 6px 10px;
  min-height: 24px;
  white-space: nowrap;
  line-height: 12px;
  transition-delay: .3s;
}
nav .navSideMenu > li > a > span.profileMenuBtn {
  width: 35px;
  height: 36px;
  background-position: -90px -2px;
}
nav .navSideMenu > li > a > span.notificBtn {
  background-position: -105px -37px;
  width: 20px;
  height: 23px;
  margin: 0 2px;
}
.tooltipped:not(.tt):hover .tooltiptext {
  visibility: visible !important;
  opacity: 1 !important;
  bottom: 110%; 
}
.tooltipped[data-position="bottom"]:not(.tt):hover .tooltiptext {
  top: 100%; 
}
.tooltipped[data-position="left"]:not(.tt):hover .tooltiptext {
  right: 125%; 
}
nav ul li a{
  padding:0 8px;
}
nav.nav-wrapper ul.left li a{
  padding:0;
}
nav ul li{
  margin:0;
}
nav .navSideMenu > li.active .appMenuWrapBtn, nav .navSideMenu > li:hover .appMenuWrapBtn {
  background-position: -21px -68px; 
}
nav .navSideMenu > li.active .notificBtn, nav .navSideMenu > li:hover .notificBtn {
  background-position: -105px -63px; 
}
nav .navSideMenu > li.active .profileMenuBtn, nav .navSideMenu > li:hover .profileMenuBtn {
  background-position: -125px -2px; 
}
.dropdown .dropdown-contents.appsMenu {
  padding: 5px 0;
  min-width: 125px;
  top: 59px;
}
.dropdown .dropdown-contents {
  position: absolute;
  z-index: 2;
  left: 0px;
  background: #fff;
  color: #666;
  font-size: 14px !important;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.plainPop .dropdown-contents {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  line-height: 10px;
}
.dropdown .dropdown-contents span.arrow-up {
  left: 10px;
  right: auto;
}
.arrow-up {
  width: 19px;
  height: 10px;
  background: url(../images/arrow-up.png) no-repeat left top;
  position: absolute;
  top: -10px;
  left: 20px;
}
.dropdown .dropdown-contents.appsMenu li {
  padding: 4px 10px !important;
}
.dropdown .dropdown-contents .dropdown-menu li {
  transition: all 0.5s;
  margin: 0 !important;
  padding: 3px 15px !important;
}
.dropdown .dropdown-contents li {
  width: 100%;
  display: block;
  line-height: 21px !important;
}
.dropdown .dropdown-contents .dropdown-menu li a {
  padding: 1px 0px !important;
  display: block !important;
}
.dropdown .dropdown-contents.appsMenu a {
  padding: 5px 0px !important;
  font-size: 17px;
  line-height: normal;
}
.dropdown .dropdown-contents li a {
  font-size: 14px;
  text-align: left;
  color: #666;
  padding: 7px 10px !important;
}
.plainPop .dropdown-contents.active {
  opacity: 1;
  pointer-events: auto;
}
.dropdown .dropdown-contents.profileMenuWrap {
  padding: 5px 0 14px 0;
  right: 2px !important;
}
.dropdown .dropdown-contents.dropdown-right {
  left: auto !important;
}
.dropdown .dropdown-contents.dropdown-right span.arrow-up {
  left: auto;
  right: 10px;
}
.dropdown .dropdown-contents.profileMenuWrap .dropdown-menu.profileMenu li {
  padding: 0 15px !important;
  width: 157px;
  line-height: 34px !important;
}
.dropdown .dropdown-contents.profileMenuWrap .dropdown-menu.profileMenu li a {
  padding: 0 !important;
  line-height: 31px;
}
.dropdown .dropdown-contents i {
  font-size: 14px !important;
  color: #666;
  vertical-align: middle;
  height: auto !important;
  line-height: 20px !important;
}
nav .dropdown-menu li i {
  margin: 0 5px 0 0;
}
.dropdown .dropdown-contents.profileMenuWrap .dropdown-menu.profileMenu li.footer {
  padding: 0 !important;
  margin: 10px 0 0 0 !important;
}
.dropdown .dropdown-contents.appsMenu li {
  padding: 4px 10px !important;
}
.dropdown-menu li a:hover{
  color: #000;
}
nav .menu-link.change .bar1 {
  -webkit-transform: rotate(-40deg);
  transform: rotate(-45deg);
  transform-origin: 15px;
}
nav .menu-link:hover .bar1, nav .menu-link:hover .bar2, nav .menu-link:hover .bar3, nav .menu-link.change .bar1, nav .menu-link.change .bar2, nav .menu-link.change .bar3 {
  background-color: #000;
}
nav .menu-link.change .bar2 {
  opacity: 0;
}
nav .menu-link.change .bar3 {
  -webkit-transform: rotate(35deg);
  transform: rotate(41deg);
  transform-origin: 18px 1px;
}

/* btn-small */
.btn-small {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 13px !important;
  border: none;
  height: 33px;
  line-height: 31px;
  text-transform: uppercase;
}
nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}
.dropdown .dropdown-contents li.footer a {
  color: #fff !important;
  text-align: center;
  box-shadow: none;
  border-radius: 4px;
}
.btn.btn-primary:hover {
  background: #297dcf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #297dcf 0%, #297dcf 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #297dcf 0%, #297dcf 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #297dcf 0%, #297dcf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#297dcf', endColorstr='#297dcf',GradientType=0 );
  /* IE6-9 */ }


/* selectbox */
.subTasks .contentedit .order-by{
  width: 150px;
}
.details-content .order-by,.attachments .order-by,.subTasks .order-by{
  width: 160px;
  padding: 4px 10px 5px 10px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  display: inline-block;
  margin:0 5px;
  font-weight: normal;
}
.details-content .order-by{
  width: 160px;
}
.attachments .order-by,.taskstatus .order-by{
  width: 115px;
  cursor: pointer;
}
.taskstatus .order-by{
  width: 100px;
  display: inline-block;
}
.taskstatus .order-by i{
  position: absolute;
  right: 20px;
  line-height: 2px;
}
.taskstatus .order-by .dropdown-contents {
  top: 20px;
}
.details-content .order-by > a ,.attachments .order-by > a,.subTasks .order-by > a{
  padding-right: 5px;
}
.dropdown .hover-link,.attachments .dropdown .hover-link,.dropdown .hover-link span {
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.subTasks .dropdown .hover-link span, .attachments .dropdown .hover-link span{
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}
.details-content .order-by .hover-link i , .attachments .order-by .hover-link i , .subTasks .order-by .hover-link i{
  position: absolute;
  right: 5px;
  top: 13px;
  line-height: 6px;
}
.attachments #inputtab .order-by .hover-link i,.attachments #outputtab .order-by .hover-link i{
  top: 16px;
}
.subTasks .dropdown .hover-link{
  color: #fff;
}
.dropdown .hover-link i {
  vertical-align: middle;
  margin: 0;
}
i.material-icons, a i ,.subTasks .order-by .hover-link i,.attachments .order-by .hover-link i{
  vertical-align: middle;
  color: #666;
}
.details-content .plainPop .dropdown-contents,.attachments .plainPop .dropdown-contents,.subTasks .plainPop .dropdown-contents{
  top: 43px !important;
  z-index: 0;
}
.linkedItem .contentedit{
  float: right;
  padding: 0 15px;
  line-height: 60px;
}
.subTasks .contentedit,.attachments .contentedit{
  float: right;
  padding: 13px 15px;
}
/* button primary */
a.button{
  padding: 10px 15px;
  border-radius: 4px;
}
a.btn-grey{
  border: 1px solid #d4d4d4;
  color: #666;
  margin-right: 5px;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: .5px;
  padding: 0 16px;
  line-height: 31px;
  display: inline-block;
}
a.btn-blue{
  font-size: 13px;
  font-weight: normal;
  letter-spacing: .5px;
  color: #fff;
  line-height: 31px;
  padding: 0 16px;
  display: inline-block;
  border: 1px solid #399dff;
}

/* attachment details */
.attachment-details ul li.tab,.subTasks-details ul li.tab{
  width: auto;
  padding-right: 15px;
  height: 36px;
}
.tabsparent{
  width: 20%;
  line-height: 10px;
}
.subTasks-details .tabsparent{
  width: 25%;
  line-height: 10px;
}
.attachment-details ul li.tab a,.subTasks-details ul li.tab a{
  padding:0;
}
.attachment-details .tabs,.subTasks-details .tabs{
  height: 36px;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}
table tbody tr:hover,div.border-bot-table.td:hover,.border-bot-table.td.remove{
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}

/* checkbox */
.linkeditem-details .checkbox,.subTasks .checkbox,.activejobs .checkbox,#task .checkbox{
  width: 19px;
  height: 22px;
  display: inline-block;
  background: url(../images/sprites_v17.svg);
  background-size: auto 450px;
  vertical-align: middle;
  background-repeat: no-repeat;
}
#tasklist .checkbox.intial,.linkeditem-details .checkbox.intial ,.subTasks .checkbox.intial,.activejobs .checkbox.intial{
  background-position: -68px -92px;
  margin: 0 8px;
  height: 18px;
  padding: 0;
}
#tasklist{
  webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid #cdcdcf;
  margin: 20px 0;
  height: calc(100vh - 320px);
}
.checkbox.intial:after,.checkbox.intial:before{
  display: none;
}
.linkeditem-details .checkbox.active,.subTasks .checkbox.active,.activejobs .checkbox.active{
  background-position: -87px -92px;
}
.jobdetails .padding,.detailstask-edit .padding{
  padding: 0 0 15px 0;
  background: #f4f5f7;
  position: fixed;
  left: 50px;
  right: 0;
  z-index: 1;
}
.jobdetails .padding{
  top: 152px;
}
.detailstask-edit .padding{
  bottom: 75px;
  left: 0;
}
.bodypopup,.statuspopup,.createmenupopup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.popup{
  width: 850px;
  height: 500px;
  position: fixed;
  z-index: 10;
  background: #fff;
  top: 50%;
  left: 50%;
  margin-left: -425px;
  margin-top: -250px;
  padding:20px 30px;
  border-radius: 4px;
}
.statuspopup .popup{
  width: 450px;
  height: 250px;
  margin-left: -225px;
  margin-top: -270px;
  padding:0;
}
.createmenupopup .popup{
  width: 500px;
  height: 320px;
  margin-left: -250px;
  margin-top: -260px;
  padding:0;
}
.popup-tabs{
  height: 425px;
  overflow:auto;
}
.popup li.tab{
  width: auto;
}
.popup li.tab a{
  padding: 0;
  letter-spacing: .5px;
  font-size: 16px;
  margin-right: 15px;
}
.popup tr {
  border-bottom: .5px solid rgba(0,0,0,0.12);
  line-height: 28px;
}
.popup .primarycolor img{
  margin-right: 8px;
}
.popup table tr td ,.popup table tr th{
  padding:8px 15px 8px 10px
}
.editOperations.close{
  float: right;
  width: 20px;
  height: 20px;
  background-size: auto 503px;
  background-position: -198px -197px;
  cursor: pointer;
  margin-top: 8px;
}
.editOperations.close:hover{
  background-position: -216px -197px;
}
#treeviewtab{
  text-align: center;
}
.popup ul{
  margin: 0;
  width: auto;
}
.attachment-details .progress{
  width: 65%;
  float: left;
  margin: 13px 0 0;
}
.attachment-details a.btn-grey{
  float: right;
  margin-right: 40px;
}
.attachment-details .headeredit{
  padding: 4px 13px;
}
.attachment-details .submitbutton a.btn-blue{
  margin-right: 0
}
.attachment-details .submitbutton{
  padding:20px 20px 0;
}
.jobno input[type=text],.details-content input[type="text"],.task input[type="text"],.details-content input[type=text]:not(.browser-default):focus:not([readonly]),.task input[type=text]:not(.browser-default):focus:not([readonly]){
  height: auto;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  width: 80%;
}
.jobno .header[contenteditable="true"] {
  border-bottom: 1px solid #ccc;
  outline: none;
}
.jobno .header {
  width: auto;
  font-size: 26px;
  line-height: 110%;
  padding: 3px 0;
  margin: 0;
  font-weight: 400;
}
#inputtab .order-by,#outputtab .order-by{
  border:none;
  border-bottom: 1px solid #d4d4d4;
  padding:4px 0 5px;
  line-height: 0;
}
#inputtab .dropdown-contents,#outputtab .dropdown-contents{
  z-index: 1;
}
#inputtab input[type=text],#outputtab input[type=text]{
  font-size: 14px;
  color: #808080;
  font-family: roboto;
  width: 80%;
  border-bottom: 1px solid #ccc;
}
.jobno input[type=text]:read-only,.details-content input[type="text"]:read-only,.task input[type="text"]:read-only,.task textarea:read-only,.task textarea:focus{
  border: none;
  outline: none;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  resize: none
}
.task textarea,.task textarea:focus{
  height: 27px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  resize: none;
  width: 90%;
}
.jobno input[type=text]:not(.browser-default)[readonly="readonly"],.details-content input[type=text]:not(.browser-default)[readonly="readonly"],.task input[type=text]:not(.browser-default)[readonly="readonly"]{
  color: #000;
}
#inputtab img,#outputtab img,#inputtabpopup img,#outputtabpopup img{
  width: 90px;
  border-radius: 5px;
  height: 70px;
  float: left;
}
#inputtab .imagetitle,#outputtab .imagetitle,#inputtabpopup .imagetitle,#outputtabpopup .imagetitle{
  float: left;
  margin: 15px 0 0 15px;
}
#inputtab .imagetitle span,#outputtab .imagetitle span,#inputtabpopup .imagetitle span,#outputtabpopup .imagetitle span{
  display: block;
  line-height: 20px;
} 
#inputtab span,#outputtab span,#inputtabpopup span,#outputtabpopup span{
  display: inline-block;
  line-height: 70px;
  padding: 0 10px;
}

/* drafts */
.drafts{
  position: fixed;
  left: 50px;
  right: 0;
  top: 60px;
  z-index: 1;
  background: #fff;
}
.drafts .headeredit i{
  display: inline-block;
}
.drafts .headingtag{
  display: inline-block;
}
.drafts .editOperations.delete{
  display: inline-block;
}
#createjob .content-body {
  padding:15px;
  margin: 122px 0 0 50px;
}
.sideMenuOpen #createjob .content-body.rhs{
  margin-left: 178px;
}
.sideMenuOpen .border-bot-table.header.rhs{
  left: 194px;
  margin-left: 0;
}
span.jobinfo{
  background-position: -105px -139px;
  background-size: auto 320px;
  width: 21px;
  margin-top: 10px;
  height: 23px;
}
.table .border-bot-table.remove span.jobinfo{
  background-position: -156px -137px;
  height: 20px;
}
#inputtabpopup span.color,#outputtabpopup span.color,#outputtab span.color,#inputtab span.color,.activejobs  span.color{
  padding: 2px 5px;
  display: inline;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
}
span.color.red{
  background: #fa011e !important;  
}
span.color.yellow{
  background: #f89406 !important;  
}
span.color.green{
  background: #6a9e45 !important;  
}
span.color.blue{
  background: #0b5490 !important;  
}
span.color.green1{
  background: #129800 !important;  
}
span.color.blue1{
  background: #2971d3 !important;  
}
span.color.grey{
  background: #666 !important;  
}
.jobdetailspopup{
  padding: 0 25px 15px;
  background: #fff;
  border-bottom: .5px solid #e5e5e5;
}
.jobdetailspopup h2{
  font-size: 24px
}
.dropdown-contents input[type="file"],.replymessage input[type="file"]{
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 83px;
}
::-webkit-file-upload-button { cursor:pointer; }
.replymessage input[type="file"]{
  left: 94px;
  width: 90px;
}
.dropdown-contents li a ,[role="button"]{
  cursor: pointer;
}
.status-header h4,.createmenu-header h4{
  display: inline-block;
  font-size: 24px;
  margin:0;
}
.status-header .editOperations.close,.createmenu-header .editOperations.close{
  margin:0;
}

/* modal popup */
.modal {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  z-index: 12;
}
.modal.fullscreen {
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0px !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  overflow: hidden;
  background: #f4f5f7;
}
.modal-content .editOperations.close{
  margin: 0;
  top: 22px;
  position: fixed;
  right: 30px;
  z-index: 3;
}
.statuspopup p {
  color: #808080;
  font-size: 14px;
  font-family: roboto;
  padding: 15px 0 0;
}
.statuspopup p span{
  color: #000;
}
.statuspopup  a{
  float: right;
  margin-top: 5px;
}
.statuspopup textarea{
  border: none;
  resize: none;
  border-bottom: 1px solid #808080;
  outline: none;
  color: #000;
  font-size: 13px;
  margin-top: 10px;
}
.createmenu{
  text-align: right;
}
.createmenu img{
  width: 50px;
}
.status-header h4,.createmenu-header h4{
  background: #f3f3f3;
  padding: 18px 18px 17px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  color: #444;
  font-size: 22px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
}
.status-body,.createmenu-body{
  padding:0 24px;
}
#inputtab .order-by  .hover-link span,#outputtab .order-by  .hover-link span{
  line-height: 28px;
}
.modal-content .content-header{
  top: 4px;
  left: 4px;
  right: 4px;
}
.modal .modal-content{
  padding:20px;
}
.popup-content-body{
  margin-top: 95px;
}
#pagepoup{
  margin: 4px;
  border-radius: 4px;
  width: auto;
}
.modal.fullscreen .content-header ul li a{
  padding-bottom: 3px;
}
.popupjobno p{
  margin-bottom: 0
}
.popupjobno span.sitecode{
  margin:0;
}
.daterangepicker.single {
  position: absolute;
  width: 300px; }
  .daterangepicker.single .calendar-table {
    padding-right: 0 !important; }
  .daterangepicker.single .calendar-table td, .daterangepicker.single .calendar-table th {
    float: left;
    margin: 0 6px; }
  .daterangepicker.single .drp-calendar.left.single {
    width: 100%;
    max-width: unset; 
    padding:14px;}

.daterangepicker {
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  /*transition: .2s top; */ }
  .daterangepicker .select-wrapper:nth-child(1) input {
    color: #000; }
  .daterangepicker .select-wrapper:nth-child(2) {
    width: 55px; }
    .daterangepicker .select-wrapper:nth-child(2) input {
      color: #666; }
    .daterangepicker .select-wrapper:nth-child(2) svg {
      fill: #666; }
  .daterangepicker .select-wrapper {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    width: 50px;
    margin-right: 10px; }
    .daterangepicker .select-wrapper svg {
      width: 19px; }
    .daterangepicker .select-wrapper .wrapMY {
      height: 100%; }
    .daterangepicker .select-wrapper input {
      min-width: 33px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      width: auto;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: unset;
      height: 20px;
      line-height: 20px;
      width: 100%;
      font-size: 14px !important;
      border: 0 transparent solid; }
    .daterangepicker .select-wrapper input:focus {
      border: 0 transparent solid; }
    .daterangepicker .select-wrapper ul {
      min-width: 60px;
      max-width: 60px;
      max-height: 105px;
      border-radius: 3px;
      overflow: visible;
      padding: 5px 5px 5px 5px; }
      .daterangepicker .select-wrapper ul li {
        min-height: auto;
        font-weight: normal; }
        .daterangepicker .select-wrapper ul li span {
          padding: 3px 10px;
          font-size: 13px;
          color: #666;
          line-height: 20px;
          font-weight: bold; }
      .daterangepicker .select-wrapper ul li.selected span {
        color: #000;
        font-weight: bold; }
      .daterangepicker .select-wrapper ul li:hover {
        background: none; }
        .daterangepicker .select-wrapper ul li:hover span {
          color: #000; }
      .daterangepicker .select-wrapper ul li.selected:hover {
        background: none; }
    .daterangepicker .select-wrapper ul:before {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 67%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #999 transparent; }
    .daterangepicker .select-wrapper ul:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 67%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #fff transparent; }
  .daterangepicker .select-wrapper ~ .nicescroll-rails.nicescroll-rails-vr {
    /* left: auto !important;
     right: 30px;
     margin: 5px;*/ }
  .daterangepicker .drp-calendar.left {
    padding: 20px 0 15px 30px;
    position: relative;
    overflow: hidden; }
  .daterangepicker .drp-calendar.right {
    padding: 20px 30px 15px 8px;
    position: relative;
    overflow: hidden; }
  .daterangepicker .calendar-table table th.month {
    /*position: absolute;*/
    width: auto; }
    .daterangepicker .calendar-table table th.month .monthselect {
      min-width: 33px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      width: auto;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: unset;
      /*display: none;*/
      /*pointer-events: none;*/ }
    .daterangepicker .calendar-table table th.month .yearselect {
      min-width: 38px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      color: #aaa;
      margin-left: 0;
      cursor: pointer;
      width: auto;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: unset;
      /*display: none;*/
      /*pointer-events: none;*/ }
    .daterangepicker .calendar-table table th.month .monthselect:focus, .daterangepicker .calendar-table table th.month .yearselect:focus {
      outline: none; }
  .daterangepicker .calendar-table table tr {
    border: 1px transparent solid; }
    .daterangepicker .calendar-table table tr .prev, .daterangepicker .calendar-table table tr .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #666;
      border-radius: 50%;
      height: 40px;
      width: 42px;
      line-height: 35px;
      color: white; }
      .daterangepicker .calendar-table table tr .prev span, .daterangepicker .calendar-table table tr .next span {
        border: solid #fff;
        border-width: 0 2px 2px 0; }
    .daterangepicker .calendar-table table tr .prev {
      left: -28px;
      text-align: right;
      padding-right: 6px; }
    .daterangepicker .calendar-table table tr .next {
      right: -28px;
      text-align: left;
      padding-left: 6px; }
  .daterangepicker .drp-calendar.left:before {
    left: 9px;
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .daterangepicker .calendar-table th {
    font-weight: normal; }
  body .daterangepicker .calendar-table td, body .daterangepicker .calendar-table th {
    min-width: auto;
    width: 26px;
    height: 26px;
    line-height: 23px; }
  .daterangepicker .calendar-table td {
    color: #aaaaaa;
    border-radius: 50% !important;
    font-size: 13px; }
  .daterangepicker td.off {
    visibility: hidden; }
  .daterangepicker td.in-range {
    background: #fff;
    color: #000; }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff; }
  .daterangepicker td.start-date, .daterangepicker td.end-date {
    color: #fff !important;
    background: #399dff !important;
    background: -moz-linear-gradient(top, #399dff 0%, #297dcf 100%) !important;
    background: -webkit-linear-gradient(top, #399dff 0%, #297dcf 100%) !important;
    background: linear-gradient(to bottom, #399dff 0%, #297dcf 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primaryColor', endColorstr='#297dcf',GradientType=0) !important; }
  .daterangepicker td, .daterangepicker th {
    padding: 1px; }
  .daterangepicker select {
    display: inline-block; }

  .details-content input[type="text"]#updated-datepicker,.details-content input[type="text"]#deadline-datepicker,.details-content input[type="text"]#created-datepicker{
    width: 18%;
  }
  table.table-condensed tbody tr:hover{
    background:none;
  }
  .changeLogs .changeLogWrap:last-child{
    border-bottom: none;
  }
  .border-bot-table.header{
    position: fixed;
    right: 16px;
    left: 66px;
    background: #fff;
    top: 138px;
    z-index: 1;
  }
  .createcontent-body .body{
    margin-top: 47px;
  }
