$textGrey: #666;
$color_2: #808080;
$black: #000;
$color_4: #030000;
$white: #fff;
$primaryColor: #297dcf;
$primaryColorShade: #399dff;
$color_8: #a5a5a5;
$color_9: #8c8c8c;
$color_10: #999;
$grey_c: #ccc;
$color_12: #444;
$grey_a: #aaa;
$segoe: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$openSans: 'Open Sans', sans-serif;
$roboto: "Roboto", sans-serif;
$background_color_1: #666;
$background_color_2: #fff;
$background_color_3: #f7f7f7;
$background_color_4: #323232;
$background_color_5: #000;
$background_color_6: #fafafa;
$background_color_7: #357ebd;
$border_color_1: transparent transparent #323232 transparent;
$border_color_2: #323232 transparent transparent transparent;
$border_color_3: transparent transparent #999 transparent;
$border_color_4: transparent transparent #fff transparent;
$border_color_5: transparent;
$border_bottom_color_1: rgba(0, 0, 0, 0.2);


// preload
img.pre{
    width: 0px;
    height: 0px;
	display: inline-block;
	position: fixed;
	top:0;
	left: 0;
	z-index: -1;
    background-image: url('../images/checkbox_unchecked.svg'),  url('../images/checkbox_checked.svg'), url('../images/sprites_v17.svg'), url('../images/nestedTableArrow.png'), url('../images/arrow-up.png');
}


html {
	font-family: $openSans;
	font-weight: normal;
	overflow: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
body {
	margin: 0;
	padding: 0;
	overflow: auto;
	position: relative;
	background: #f4f5f7;
	.tooltipped {
		span.tooltiptext {
			visibility: hidden;
			width: auto !important;
			background-color: $background_color_4 !important;
			color: $white;
			text-align: center;
			border-radius: 3px;
			position: absolute;
			bottom: 125%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			        transform: translateX(-50%);
			opacity: 0;
			-webkit-transition: opacity 0.3s ease-out;
			transition: opacity 0.3s ease-out;
			z-index: 99998;
			background-image: none !important;
			font-size: 13px;
			padding: 3px 10px 3px 10px;
			min-height: 22px;
			white-space: nowrap;
			line-height: 15px;
			-webkit-transition-delay: .3s;
			        transition-delay: .3s;
		}
	}
	.daterangepicker {
		.calendar-table {
			td {
				min-width: auto;
				width: 26px;
				height: 26px;
				line-height: 23px;
			}
			th {
				min-width: auto;
				width: 26px;
				height: 26px;
				line-height: 23px;
			}
		}
	}
}

p {
	margin: 0;
	padding: 0;
}
div {
	margin: 0;
	padding: 0;
	.headingtag {
		font-size: 22px;
		color: $textGrey;
		font-family: $roboto;
		padding: 20px 20px;
		margin: 0;
		line-height: 19px;
	}
	.heading {
		font-size: 13px;
		color: $textGrey;
		font-family: $openSans;
	}
	.content {
		font-size: 14px;
		color: $black;
		font-family: $openSans;
	}
}
* {
	margin: 0;
	padding: 0;
	&::-webkit-input-placeholder {
		color: $textGrey;
	}
	&::-moz-placeholder {
		color: $textGrey;
	}
	&:-ms-input-placeholder {
		color: $textGrey;
	}
	&::placeholder {
		color: $textGrey;
	}
}

//clearfix
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }


.col {
	.row {
		margin: 0;
		padding: 0;
	}
}



//checkbox
[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in+span:not(.lever):before, [type="checkbox"].filled-in+span:not(.lever):after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: unset;
    transition: unset;
    z-index: 1;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 0 solid #5a5a5a;
    border-radius: 1px;
    margin-top: 0;
    -webkit-transition: unset;
    transition: unset;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after,[type="checkbox"]:not(:checked)+span:not(.lever):after {
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 0 solid #5a5a5a;
    top: 0px;
	z-index: 0;
	background-image: url('../images/checkbox_unchecked.svg'); 
	background-position:  0 0;
	background-repeat: no-repeat;
	background-size: contain;
	transform: none;
}

[type="checkbox"].filled-in+span:not(.lever):before, [type="checkbox"].filled-in+span:not(.lever):after {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: unset;
    transition: unset;
    z-index: 1;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before,[type="checkbox"]:checked+span:not(.lever):before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 0 solid #fff;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
	background-image: url('../images/checkbox_checked.svg'); 
	background-position:  0 0;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: unset;
}

[type="checkbox"]:checked+span:not(.lever):before {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 0 solid #26a69a;
    border-bottom: 0 solid #26a69a;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 0 solid #26a69a;
    background-color: transparent;
    z-index: 0;
}


//gradient
%blueGradient {
    background: $primaryColorShade; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from($primaryColorShade),to($primaryColor));
    background: linear-gradient(to bottom, $primaryColorShade 0%,$primaryColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$primaryColor, endColorstr=$primaryColor,GradientType=0 ); /* IE6-9 */
}
%greyGradient {
    background: #f4f5f7; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f5f7),color-stop(48%, #efefef),to(#e3e3e3));
    background: linear-gradient(to bottom, #f4f5f7 1%,#efefef 48%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
}

%lightGreyGradient {
    background: #ffffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#f0f0f0));
    background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}


//button
.btn{
    font-family: $roboto;
    font-size: 13px;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 4px;
    padding: 0 14px;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn-primary{
    @extend %blueGradient;
	color:$white;
	
	i, a{
		color: $white;
	}
}
.btn-grey{
    @extend %greyGradient;
    border-radius: 3px;
	border:1px solid #d4d4d4;
	color: $textGrey;
	
	i, a{
		color: $white;
	}
}
.btn-small{
	font-weight: bold;
	height: 35px;
    line-height: 35px;
	font-size: 13px;
	border-radius: 3px;
	text-transform: initial;
}


.btn:hover{
    -webkit-box-shadow: none;
            box-shadow: none;
}


.btn-primary:hover{
    background: #297dcf; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#297dcf),to(#297dcf));
    background: linear-gradient(to bottom, #297dcf 0%,#297dcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#297dcf', endColorstr='#297dcf',GradientType=0 ); /* IE6-9 */
    color: $white;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn-grey:hover{
    background: #297dcf; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #297dcf),color-stop(48%, #297dcf),to(#297dcf));
    background: linear-gradient(to bottom, #297dcf 1%,#297dcf 48%,#297dcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#297dcf', endColorstr='#297dcf',GradientType=0 ); /* IE6-9 */
    color: $white;
    border: 1px solid transparent;
    -webkit-transition: .1s all;
    transition: .1s all;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btnGroup{
	padding-right: 7px;
    padding-left: 15px;

	a{
		float: left;
		padding-right: 15px;
		text-transform: initial;
	}

	i{
		padding-left: 7px;
		border-left: 1px solid #376da0;
		line-height: 35px;
		float: right;
		font-size: 21px;
	}

	.dropdown-contents{
		width: 100%;

		ul{
			width: 100%;
			padding: 0 0 0 0;

			li{
				a{
				font-weight: normal;
				text-transform: uppercase;
				font-size: 13px;
				padding: 5px 15px !important;
				transition: color .3s;
				}
			}


			li:hover{
				@extend %greyGradient;
				a{
					color: $black;
				}
			}

		}

	}
}




// jdicon
.jdicon{
	color: $textGrey;
	transition: .2s all;
}
.jdicon:hover{
	color: $black;
}



// #jobdetails, #createJobCon {
// 	display: none;	
// }
#createjob {
	display: none;
	.activejobs {
		height: calc(100vh - 218px);
	}
	.content-body {
		padding: 15px;
		margin: 122px 0 0 50px;
	}
}
ol {
	li {
		list-style-type: none;
	}
}
.content-body {
	background: #f4f5f7;
	padding: 5px 15px 20px;
	-webkit-transition: margin-left .3s;
	transition: margin-left .3s;
	.task-details {
		.textarea-edit {
			position: relative;
			right: 0;
		}
	}
}
#task {
	overflow: hidden;
	background: #f4f5f7;

	.headingtag{
		padding: 20px 10px 20px 20px;

		&[data-tasktype='Sub Tasks']{
			+ .badgeCircle{
				display: inline-block;
			}
		}
	}

	.rightWrap{
		margin-top: 15px; 
	}
	
	.badgeCircle{
		// display: none;
		display: inline-block;
		@extend %blueGradient;
		padding: 4px;
		border-radius: 50%;
		min-width: 28px;
		height: 28px;
		text-align: center;
		line-height: 20px;
		position: relative;
		left: 0px;
		top: -2px;
		font-family: $roboto;
		color: $white;
		font-size: 12px;

	}
	.content-body {
		margin-top: 118px;
		margin-left: 50px;
		padding: 20px;
		// height: calc(100vh - 118px);
		transition: .3s margin;

		ol {
			li {
				padding-right: 20px;
				&:last-child {
					padding-right: 0;
				}
				dl {
					padding: 25px 30px 25px 135px;
					border: 1px solid #cdcdcf;
					-webkit-box-shadow: 2px 2px 10px 0 #ddd;
					        box-shadow: 2px 2px 10px 0 #ddd;
					position: relative;
					border-radius: 4px;
					transition: .3s box-shadow;
					&:before {
						height: calc(100% - 51px);
						display: block;
						width: 1px;
						border-right: 1px solid #cdcdcf;
						content: '';
						left: 115px;
						position: absolute;
					}
					dt {
						font-size: 15px;
						font-family: $roboto;
						color: $black;
						transition: .3s;
						padding-top: 3px;
						line-height: 20px;
					}
					dd {
						font-size: 34px;
						font-family: $roboto;
						color: $textGrey;
						height: 47px;
						transition: .3s;
					}
				}

				

				dl:hover {
					box-shadow: 4px 4px  12px 0 #bdbdbd;
					dt {
						color: #378ce0;
					}
					dd {
						color: #378ce0;
					}
				}
			}

			li.todo{
				dl{
					background:url(../images/todo.jpg) no-repeat #fff 37px 35px;
				}
			}

			li.inprogress{
				dl{
					background:url(../images/inprogress.jpg) no-repeat #fff 33px 37px;
				}
			}

			li.overdue{
				dl{
					background:url(../images/overdue.jpg) no-repeat #fff 34px 36px;
				}
			}

			li.unassigned{
				dl{
					background:url(../images/unassigned.jpg) no-repeat #fff 37px 34px;
				}
			}
		}
		td:last-child{
			white-space: nowrap;
		}
	}
	.content-header {
		min-height: 60px;
		height: unset;
		padding: 15px 20px 10px;
		margin-left: 50px;
		left: 0;
	}
	.checkbox {
		width: 19px;
		height: 22px;
		display: inline-block;
		background: url(../images/sprites_v17.svg);
		background-size: auto 450px;
		vertical-align: middle;
		background-repeat: no-repeat;
	}
}
.select-dropdown.dropdown-content li:hover {
    background-color: transparent;
}
.jobdetails {
	padding-top: 167px;
	margin-left: 50px;
	-webkit-transition: margin-left .3s;
	transition: margin-left .3s;
	.padding {
		padding: 0 0 15px 0;
		background: #f4f5f7;
		position: fixed;
		left: 50px;
		right: 0;
		z-index: 2;
		top: 152px;
	}
}
.brand-logo {
	img {
		width: 140px;
	}
}
nav {
	a.menu-link {
		.bar1 {
			width: 100%;
			height: 2px;
			margin: 3px 0;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			background-color: $background_color_1;
		}
		.bar2 {
			width: 100%;
			height: 2px;
			margin: 3px 0;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			background-color: $background_color_1;
		}
		.bar3 {
			width: 100%;
			height: 2px;
			margin: 3px 0;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			background-color: $background_color_1;
		}
		width: 18px;
		background: none !important;
		border-radius: 0;
		display: inline-block;
		vertical-align: middle;
		padding: 0;
	}
	.brand-logo {
		position: relative;
		line-height: 0;
		a {
			&:hover {
				background: transparent;
			}
		}
	}
	.dropdown {
		// a:not(.btn) {
		// 	&:hover {
		// 		background: transparent;
		// 	}
		// }
	}
	ul {
		li {
			&:hover {
				background: none;
			}
			a {
				padding: 0 9px;
			}
			margin: 0;
		}
		li.active {
			background: none;
		}
		a.btn {
			margin-top: -2px;
			margin-left: 15px;
			margin-right: 15px;
		}
		a.btn-large {
			margin-top: -2px;
			margin-top: -2px;
			margin-left: 15px;
			margin-left: 15px;
			margin-right: 15px;
			margin-right: 15px;
		}
		a.btn-small {
			margin-top: -2px;
			margin-left: 15px;
			margin-right: 15px;
		}
		a.btn-flat {
			margin-top: -2px;
			margin-left: 15px;
			margin-right: 15px;
		}
		a.btn-floating {
			margin-top: -2px;
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	.toggleMenu {
		float: right;
		margin-left: 20px;
	}
	.search-container {
		float: none;
		display: inline-block;
		z-index: 99999;
		background: #fff;
		margin-top: 0;
		min-width: 461px;
		width: 30%;
		max-width: 600px;

		.caret{
			margin-right: -8px;
			z-index: 1;
			fill: rgba(255,255,255,0.87);
		}

		.searchWrap{
			display: inline-block;
			min-width: 370px;
		}

		.select-wrapper{
			width: 80px;
			display: inline-block;
			height: auto;
			line-height: 0;
		}
		.select-dropdown.dropdown-trigger{
			display: inline-block;
			margin-bottom: 0;
			background: #666;
			color: #fff;
			padding: 0 0 0 11px;
			height: 37px;
			border: none;
			top: -1px;
			font-size: 13px;
			border-radius: 2px;
		}
		ul.select-dropdown{
			background: $textGrey;
			li {
				&:first-child {
					display: block;
				}
				&:hover{
					background: $black;
				}
				span{
					color: $white;
					font-size: 13px;
				}
			}
		}
		.search {
			
			.close.jdicon.jdicon-close{
				position: absolute;
				right: 7px;
				top: 1px;
				margin: 0;
				font-size: 11px;
				opacity: 0;
				transition: .2s opacity;
			}
			.select-wrapper{
				opacity: 0;
				transition: .2s opacity;
			}


			.input-field {
				padding: 0;
				background: #f5f5f5;
				border-radius: 2px;
				height: 37px;
				line-height: 35px;
				position: relative;
				border: 1px solid rgba(0, 0, 0, 0.08);
				.prefix {
					top: 0;
					width: 30px;
					line-height: 37px !important;
					height: 35px;
					font-size: 15px;
				}
				input {
					font-size: 14px;
					height: 35px;
					line-height: 35px;
					margin-left: 29px;
					border: none;
					border-radius: 3px;
					-webkit-box-shadow: none;
					        box-shadow: none;
					color: $textGrey;
					width: 95%;
					-webkit-transition: 0s !important;
					transition: 0s !important;
					vertical-align: middle;
					margin-bottom: 0;
					padding: 0;
				}
				.prefix.active {
					color: $black;
				}
			}
			i {
				line-height: 34px !important;
				vertical-align: middle;
				color: $textGrey;
				font-size: 16px;
				text-align: center;
			}
		}
	}
	.input-field {
		margin: 0;
	}
	background-color: $background_color_2;
	position: fixed;
	top: 0;
	z-index: 999;
	height: 60px;
	line-height: 59px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	border-bottom: solid 1px rgba(0, 0, 0, 0.08);
	ul.left.mRight {
		margin-left: 15px;
	}
	ul.right.mRight {
		margin-right: 12px;

		.dropdown .dropdown-contents li .primarycolor{
			color: $primaryColor;
		}

		li{
			text-align: left;
			line-height: 52px;
		}


		.caption{
			text-align: left;
			font-size: 19px;
			color: $black;
			padding: 6px 15px 0 15px !important;
			display: block;
			line-height: 36px;

			&:hover{
				background: $white;
			}
		}

		.appsmenutooltip{
			i{
				font-size: 20px;
			}
		}
		.navsmenutooltip{
			i{
				font-size: 20px;
			}

			+ .dropdown-contents{
				right: 0;
				left: auto;

				.dpMenuWrap{
					height: 248px;
				}

				.dropdown-menu{
					padding-top: 5px;
				}

				span.arrow-up {
					left: auto;
					right: 10px;
				}

				li{
					padding: 10px 15px !important;
					position: relative;
					line-height: unset !important;
					display: block;
					cursor: pointer;

					.taskTagOL, .subtaskTagOL{
						font-size: 12px;
						line-height: 17px;
					}

					.wrapMessage{
						display: inline-block;
						padding-left: 50px;
					}

					a.userFace{
						float: left;
						margin-bottom: 15px;
						position: absolute;
					}
					
					a, span{
						display: inline-block !important;
						// vertical-align: middle;
						vertical-align: top;
						line-height: 19px;
						font-size: 13px;
						
					}
					p{
						float: left;
						font-size: 13px;
						line-height: 16px;
					}
					a:not(.userFace){
						height: 21px;
						float: left;
					}

					&:not(.caption):hover{
						background: #f4f5f7;
						a{
							background-color: #f4f5f7;
							color: $textGrey;
						}
					}
					.instanceTime{
						left: 64px;
						font-size: 11px;
						display: block !important;
						float: left;
						width: 83%;
						line-height: 21px;
					}
				}
			}
		}
		.mailmenutooltip{
			i{
				font-size: 20px;
			}

			+ .dropdown-contents{
				right: 0;
				left: auto;

				.dpMenuWrap{
					height: 248px;
				}

				.dropdown-menu{
					padding-top: 5px;
				}

				span.arrow-up {
					left: auto;
					right: 10px;
				}

				li{
					padding: 10px 15px !important;
					position: relative;
					line-height: unset !important;
					display: block;
					cursor: pointer;

					.taskTagOL, .subtaskTagOL{
						font-size: 12px;
						line-height: 17px;
					}

					.wrapMessage{
						display: inline-block;
						padding-left: 50px;
					}

					a.userFace{
						float: left;
						margin-bottom: 15px;
						position: absolute;
					}
					
					a, span{
						display: inline-block !important;
						// vertical-align: middle;
						vertical-align: top;
						line-height: 19px;
						font-size: 13px;
						
					}
					p{
						float: left;
						font-size: 13px;
						line-height: 16px;
					}
					a:not(.userFace){
						height: 21px;
						float: left;
					}

					&:not(.caption):hover{
						background: #f4f5f7;
						a{
							background-color: #f4f5f7;
							color: $textGrey;
						}
					}
					.instanceTime{
						left: 64px;
						font-size: 11px;
						display: block !important;
						float: left;
						width: 83%;
						line-height: 21px;
					}
				}
			}
		}
		.profilemenutooltip{
			i{
				font-size: 34px;
			}
		}
	}
	.navSideMenu {
		.hover-link .countBadge{
			position: absolute;
			top: 8px;
			right: 1px;
			font-size: 11px;
			color: white;
			border-radius: 50%;
			text-align: center;
			height: 18px;
			width: 18px;
			line-height: 18px;
			font-weight: bold;
			background-image: none; 
			}

		>li {
			>a {
				&:hover{
					background: transparent;
				}
				>span.appMenuWrapBtn {
					background-position: -21px -43px;
				}
				>span {
					width: 22px;
					height: 22px;
					display: inline-block;
					background: url(../images/sprites_v17.svg);
					background-size: auto 450px;
					vertical-align: middle;
					background-repeat: no-repeat;
				}
				>span.profileMenuBtn {
					width: 35px;
					height: 36px;
					background-position: -90px -2px;
				}
				>span.notificBtn {
					background-position: -105px -37px;
					width: 20px;
					height: 23px;
					margin: 0 2px;
				}
				>span.mailBtn {
					background-position: -188px -272px;
					width: 20px;
					height: 23px;
					margin: 0 2px;
				}
			}
			&:hover {
				.appMenuWrapBtn {
					background-position: -21px -68px;
				}
				.notificBtn {
					background-position: -105px -63px;
				}
				.profileMenuBtn {
					background-position: -125px -2px;
				}
				.mailBtn {
					background-position: -188px -272px;
					width: 20px;
					height: 23px;
					margin: 0 2px;
				}
			}
		}
		>li.active {
			.appMenuWrapBtn {
				background-position: -21px -68px;
			}
			.notificBtn {
				background-position: -105px -63px;
			}
			.profileMenuBtn {
				background-position: -125px -2px;
			}
		}
	}
	.dropdown-menu {
		li {
			i {
				margin: 0 5px 0 0;
			}
		}
	}
	.menu-link.change {
		.bar1 {
			-webkit-transform: rotate(-40deg);
			-ms-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			-webkit-transform-origin: 15px;
			    -ms-transform-origin: 15px;
			        transform-origin: 15px;
			background-color: $background_color_5;
		}
		.bar2 {
			background-color: $background_color_5;
			opacity: 0;
		}
		.bar3 {
			background-color: $background_color_5;
			-webkit-transform: rotate(35deg);
			-ms-transform: rotate(41deg);
			    transform: rotate(41deg);
			-webkit-transform-origin: 18px 1px;
			    -ms-transform-origin: 18px 1px;
			        transform-origin: 18px 1px;
		}
	}
	.menu-link {
		&:hover {
			.bar1 {
				background-color: $background_color_5;
			}
			.bar2 {
				background-color: $background_color_5;
			}
			.bar3 {
				background-color: $background_color_5;
			}
		}
	}
}
input[type=text] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: none;
				-webkit-box-shadow: none;
				        box-shadow: none;
			}
		}
	}
}


.taskTagOL, .subtaskTagOL{
	border: 1px solid;
	border-radius: 2px;
	padding: 0 5px;
	margin-left: 5px;
	background: $white;
}
.taskTagOL{
	border-color: $primaryColor;	
	color: $primaryColor;
}
.subtaskTagOL{
	border-color: $textGrey;
	color: $textGrey;	
}
.userFace, .userFace:hover{
    width: 38px;
    height: 38px;
    margin-right: 10px;
	border-radius: 50%;
	border: 1px solid #aaa; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;

	&.user1{
		background-image: url('../images/users/userimage2.jpeg'); 
	}

	&.user2{
		background-image: url('../images/users/mukesh.jpg'); 
	}

	&.user3{
		background-image: url('../images/users/userimage1.jpeg'); 
	}
}
.createmenu-body {
	.input-field {
		border-radius: 2px;
		border: 1px solid rgba(0, 0, 0, 0.08);
		background: rgb(245, 245, 245);
		.prefix {
			top: 0;
			width: 30px;
			line-height: 36px !important;
			height: 35px;
			font-size: 15px;
			line-height: 34px !important;
			vertical-align: middle;
			color: $textGrey;
			font-size: 16px;
			text-align: center;
		}
		.prefix.active {
			color: $black;
		}
	}
	padding: 0 24px;
}
.createmenupopup {
	input[type="text"] {
		font-size: 14px;
		height: 35px;
		line-height: 35px;
		margin-left: 29px;
		border: none;
		-webkit-box-shadow: none;
		        box-shadow: none;
		color: $textGrey;
		width: 95%;
		-webkit-transition: 0s !important;
		transition: 0s !important;
		vertical-align: middle;
		margin-bottom: 0;
		padding: 0;
	}
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9;
	.popup {
		width: 500px;
		height: 320px;
		padding: 0;
	}
	.createorders{
		max-height: 168px;
	}
}
.input-field {
	.prefix {
		position: absolute;
		width: 3rem;
		font-size: 2rem;
		-webkit-transition: color .2s;
		transition: color .2s;
		top: .5rem;
	}
}
.content-header {
	line-height: 0;
	position: fixed;
	background: #fff;
	right: 0;
	left: 50px;
	padding: 0 20px;
	z-index: 2;
	height: 93px;
	display: inline-block;
	border-bottom: 1px solid #cdcdcf;
	top: 59px;
	-webkit-transition: margin-left .3s;
	transition: margin-left .3s;
	ul {
		line-height: 30px;
		li {
			a {
				padding-bottom: 2px;
				transition: .3s color;
				font-size: 15px;
				font-weight: bold;
				color: #a5a5a5;
			}
		}
	}
	.taskstatus ul {
		li {
			a {
				font-weight: normal;
			}
		}
	}
	.editOperations.edit {
		display: inline-block;
	}
}
.jobno {
	line-height: 57px;
	h2 {
		margin: 0;
		color: $color_4;
		font-size: 26px;
		vertical-align: middle;
	}
	input[type="text"] {
		margin: 0;
		color: $color_4;
		font-size: 26px;
		vertical-align: middle;
	}
	input[type=text] {
		&:not(.browser-default).header {
			width: auto;
		}
		height: auto;
		font-size: 14px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 5px;
		width: 80%;
		&:-moz-read-only {
			border: none;
			outline: none;
			padding-bottom: 8px;
			border-bottom: 1px solid transparent;
			resize: none;
		}
		&:read-only {
			border: none;
			outline: none;
			padding-bottom: 8px;
			border-bottom: 1px solid transparent;
			resize: none;
		}
		&:not(.browser-default)[readonly="readonly"] {
			color: $black;
		}
	}
	span {
		vertical-align: middle;
	}
	.headeredit {
		padding: 10px 0;
	}
	.header[contenteditable="true"] {
		border-bottom: 1px solid #ccc;
		outline: none;
		box-shadow: 2px 2px 5px #ddd inset;
		padding: 8px 13px;
		border-radius: 3px;
		min-width: 300px;
		border: 1px solid #ccc;
		font-size: 23px;
		position: relative;
		padding-right: 40px;
		margin-top: 8px;
		margin-bottom: 6px;
	}
	.header[contenteditable="true"]:after {
		content: "\53";
		font-family: "jdnextgen" !important;
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 16px;
		position: absolute;
		right: 10px;
		line-height: 25px;
		opacity: .6;
	}
	.header[contenteditable="true"]:hover {
		border: 1px solid #bbb;
		&::after{
			opacity: 0.7;
		}
	}
	.header {
		width: auto;
		font-size: 26px;
		line-height: 110%;
		padding: 3px 0;
		margin: 0;
		font-weight: 400;
		font-family: $roboto;
	}
}



.dropdown.plainPop.statusdropdown{
	pointer-events: none;
	background: #9c27b0;
	border: none;

	a span{
		color: $white;
	}

	.material-icons{
		opacity: 0;
	}
}


.edit.dropdown.plainPop.statusdropdown{
	pointer-events: all;
	@extend %greyGradient;
	border: 1px solid #d4d4d4;

	a span{
		color: $textGrey;
	}

	.material-icons{
		opacity: 1;
	}
}

.statusChange{
	div.select-wrapper{
		width: 152px;
		display: inline-block;
		margin-left: 15px;
		line-height: 33px;
		margin-right: 10px;

		ul li:first-child {
			display: block;
		}

		input[type="text"]{
			padding: 8px;
			border-radius: 3px;
			@extend %greyGradient;
			margin: 0;
			border: 1px solid #d4d4d4;
			color: $textGrey;
		}
		input:disabled{
			background: #9c27b0;
			color: $white;
			border: 1px solid transparent;
			text-align: center;
			padding: 4px;
		}
	}
	div.select-wrapper.disabled{
		border:none;
	}
	div.select-wrapper:not(.disabled){
		.caret{
			z-index: 1;
		}
	}
}

span.sitecode {
	padding: 4px 8px;
	background: #373d47;
	color: $white;
	border-radius: 2px;
	margin: 10px;
	font-size: 12px;
	position: relative;
	top: 2px;
}
span.sitecode.parentclode {
	padding: 4px 4px 4px 0;
	background: transparent;
	color: $primaryColor;
	border-radius: 2px;
	margin: 10px;
	font-size: 14px;
	position: relative;
	top: 2px;
	font-weight: bold;

}
.headeredit {
	i {
		vertical-align: middle;
		font-size: 25px;
		color: $textGrey;
		display: none;
	}
	float: right;
	padding: 10px 20px;
	line-height: 40px;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.block {
	display: block;
}
.width-3 {
	width: 3% !important;
}
.width-88 {
	width: 88% !important;
}
.width-4 {
	width: 4% !important;
}
.width-96 {
	width: 96% !important;
}
.autowidth {
	width: auto;
}
.row {
	margin-bottom: 0;
	.col {
		padding: 0;
		margin: 0;
	}
}
.primarycolor {
	color: $primaryColor;
}
.border-bot-grey {
	border-bottom: 1px solid #cbcbcb;
}
.userimg {
	width: 30px;
	border-radius: 40px;
	border: 1px solid #a6a8a7;
	height: 30px;
}
.mar-10 {
	margin: 10px;
}
.mar-5 {
	margin: 0 7px;
}
.pad-0 {
	padding: 0 !important;
}
.input-field.pad-0 {
	padding: 0 !important;
}
i {
	cursor: pointer;
}


.timeStatus{
	display: inherit;
	line-height: 29px;
	font-size: 11.5px;
	font-family: $segoe;
	position: relative;
	top: -3px;
	width: 87%;
	display: block;
	
	span{
		line-height: unset;
		display: block;
		padding-right: 0;
		line-height: 25px !important;

	}
}

#outputtab, #outputtabS, #outputtabSS {
	
	.order-by {
		border: none;
		border-bottom: 1px solid #d4d4d4;
		padding: 4px 0 5px;
		line-height: 0;
		.hover-link {
			span {
				line-height: 28px;
			}
		}
	}
	.dropdown-contents {
		z-index: 1;
	}
	input[type=text] {
		font-size: 14px;
		color: $color_2;
		font-family: $roboto;
		width: 80%;
		border-bottom: 1px solid #ccc;
	}
	img {
		width: 55px;
		border-radius: 50%;
		height: 55px;
	}
	tbody td:first-child {
		white-space: nowrap;
	}
	.imagetitle {
		float: left;
		margin: 15px 0 0 15px;
		span {
			display: block;
			line-height: 20px;
		}
	}
	span.color {
		padding: 2px 5px;
		display: inline;
		color: $white;
		font-size: 14px;
		border-radius: 2px;
		padding: 3px 7px;
		font-size: 11px;
		font-weight: bold;
	}
}
#inputtab, #inputtabS, #inputtabSS {
	
	.order-by {
		border: none;
		border-bottom: 1px solid #d4d4d4;
		padding: 4px 0 5px;
		line-height: 0;
		.hover-link {
			span {
				line-height: 28px;
			}
		}
	}
	.dropdown-contents {
		z-index: 1;
	}
	input[type=text] {
		font-size: 14px;
		color: $color_2;
		font-family: $roboto;
		width: 80%;
		border-bottom: 1px solid #ccc;
	}
	img {
		width: 55px;
		border-radius: 50%;
		height: 55px;
	}
	.imagetitle {
		float: left;
		margin: 15px 0 0 15px;
		span {
			display: block;
			line-height: 20px;
		}
	}
	span.color {
		padding: 2px 5px;
		display: inline;
		color: $white;
		font-size: 14px;
		border-radius: 2px;
		padding: 3px 7px;
		font-size: 11px;
		font-weight: bold;
	}
	tbody td:first-child{
		white-space: nowrap;
	}
}
span.percentage {
	margin-left: 10px;
	display: inline-block;
	padding: 0;
	line-height: 0;
	font-size: 13px;
	font-family: $openSans;
}
#inputtabpopup {
	span.percentage {
		margin-left: 10px;
		display: inline-block;
		padding: 0;
		line-height: 0;
	}
	border-top: 1px solid #e5e5e5;
	img {
		width: 55px;
		border-radius: 50%;
		height: 55px;
		float: left;
	}
	.imagetitle {
		float: left;
		margin: 15px 0 0 15px;
		span {
			display: block;
			line-height: 20px;
		}
	}
	span {
		display: inline-block;
		line-height: 70px;
		padding: 0 10px;
	}
	span.color {
		padding: 2px 5px;
		display: inline;
		color: $white;
		font-size: 14px;
		border-radius: 2px;
	}
}
span.attachment {
	font-size: 13px;
	color: $color_2;
	font-family: $openSans;
}
.brandorder {
	span {
		color: $textGrey;
		font-family: $openSans;
	}
}
.digitalorder {
	span {
		color: $textGrey;
		font-family: $openSans;
	}
}
.printorder {
	span {
		color: $textGrey;
		font-family: $openSans;
	}
}
.createorders {
	.printorder {
		padding: 10px 10px 10px 0;
		border-bottom: 1px solid #c4c3c3;
		.ordername {
			line-height: 35px;
			font-family: $openSans;
		}
	}
	.digitalorder {
		padding: 10px 10px 10px 0;
		border-bottom: 1px solid #c4c3c3;
		.ordername {
			line-height: 35px;
			font-family: $openSans;
		}
	}
	.brandorder {
		padding: 10px 10px 10px 0;
		border-bottom: 1px solid #c4c3c3;
		.ordername {
			line-height: 35px;
			font-family: $openSans;
		}
	}
}
.selectbox {
	margin: 0 10px;
}
.details-content {
	padding: 0 20px 20px;
	.order-by {
		padding: 6px 10px 7px 10px;
		border-radius: 4px;
		border: 1px solid #d4d4d4;
		display: inline-block;
		margin: 0 5px;
		font-weight: normal;
		>a {
			padding-right: 25px;

			span{
				vertical-align: unset;
			}
		}
		.hover-link {
			i {
				position: absolute;
				right: 5px;
				line-height: 22px;
			}
		}
	}
	.plainPop {
		.dropdown-contents {
			top: 43px !important;
			z-index: 0;
		}
	}
	input[type="text"] {
		height: auto;
		font-size: 14px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 5px;
		padding-top: 4px;
		width: 90%;
		line-height: 24px;

		&:-moz-read-only {
			border: none;
			outline: none;
			padding-bottom: 8px;
			border-bottom: 1px solid transparent;
			resize: none;
		}
		&:read-only {
			border: none;
			outline: none;
			padding-bottom: 8px;
			border-bottom: 1px solid transparent;
			resize: none;
			line-height: 21px;
		}
	}
	input[type=text] {
		&:not(.browser-default) {
			&:focus {
				&:not([readonly]) {
					height: auto;
					font-size: 14px;
					border-bottom: 1px solid #ccc;
					padding-bottom: 5px;
					width: 90%;
				}
			}
		}
		&:not(.browser-default)[readonly="readonly"] {
			color: $black;
		}
	}
}
.task-details {
	padding: 0 20px 40px;
	border-bottom: 1px solid #c4c3c3;
}
.attachment-details {
	padding: 0 20px 20px;

	[type="checkbox"] + span:not(.lever){
		padding-left: 25px;
	}

	.emptyTableCon:hover{
		background: none;
	}

	table tr td {
		padding: 5px 15px 5px 0;
		position: relative;
		white-space: nowrap;

		&.wrapMe{
			white-space: inherit;
		}

		.btn + .btn{
			margin-left: 10px;
		}
	}

	ul {
		li.tab {
			width: auto;
			padding-right: 15px;
			height: 36px;
			a {
				padding: 0;
			}
		}
	}
	.percentWrap{
		width: 87%;
		position: absolute;
		line-height: unset;
		display: block;
		left: 0;
		
		span.percentage{
			position: relative;
			top: -6px;
			font-size: 12px;
			text-align: center;
			color: #fff;
			background: $black;
			line-height: 12px;
			padding: 3px 4px;
			border-radius: 2px;
			transform: translateX(-50%);
			left: 50%;
			margin: 0;

			&::after{
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				content: '';
				border: 5px solid $black;
				border-color: $black transparent transparent transparent;
			}
		}
		
		span.percentage.t7{
			left: 27%;
		}
	}
	.tabs {
		height: 36px;
	}
	.progress {
		width: 87%;
		float: left;
		margin: 25px 0 0;
	}
	.headeredit {
		padding: 4px 13px;
	}
	.submitbutton {
		a.btn-blue {
			margin-right: 0;
		}
		padding: 20px 20px 0;
	}
}

.dropdown.plainPop.contentFilter.order-by{
	padding-right: 12px;
	border-right: 1px solid #ccc;
    line-height: 28px;

	> a{
		font-size: 18px;
		font-weight: bold;
	}

	+ .dropdown.plainPop{
		margin-left: 20px;
	}

	.dropdown-contents{
		// min-width: 188px;

		li{
			position: relative;

			a{
				font-size: 17px; 
			}

			.badge{
				@extend %blueGradient;
				color: #fff;
				font-size: 12px;
				position: absolute;
				right: 15px;
				top: 4px;
				border-radius: 3px;
				padding: 0 7px;
				min-width: unset;
				display: none;
			}
		}
	}
}

.contentBox{
	ul {
		li.tab {
			width: auto;
			padding-right: 15px;
			height: 36px;
			a {
				padding: 0;
			}
		}
	}
	.tabs {
		height: 36px;
	}

	.btnGroup a.hover-link{
		line-height: unset
	}

	.headingtagWrap{
		.editOperations.delete{
			display: none;
		}
	}

	.select-wrapper{
		width: 90%;
	}
}

.subTasks-details {
	padding: 0 20px 20px;

	.emptyTableCon:hover{
		background: none;
	}

	ul {
		li.tab {
			width: auto;
			padding-right: 15px;
			height: 36px;
			a {
				padding: 0;
			}
		}
	}
	.tabs {
		height: 36px;
	}

	.emptyTableCon:hover{
		background: none;
	}

	table.emptyTable tbody{
		background-image:url('../images/subtaskBlur.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.linkeditem-details {
	padding: 0 20px 20px;


	.emptyTableCon:hover{
		background: none;
	}


	table.emptyTable tbody{
		background-image:url('../images/linkedBlur.png');
		background-size: cover;
		background-repeat: no-repeat;
	}

	.checkbox {
		width: 19px;
		height: 22px;
		display: inline-block;
		background: url(../images/sprites_v17.svg);
		background-size: auto 450px;
		vertical-align: middle;
		background-repeat: no-repeat;
	}
	.checkbox.intial {
		background-position: -68px -92px;
		margin: 0 8px;
		height: 18px;
		padding: 0;
	}
	.checkbox.active {
		background-position: -87px -92px;
	}
}
.messagecontent {
	padding: 20px;
	position: relative;
	margin-bottom: 30px;
	div.replytextarea {
		padding: 20px 20px 10px 20px;
		background: #fbfbfb;
	}
	.usersmessages {
		div.width-96 {
			border-top: 1px solid #ccc;
			position: relative;
			padding: 15px 0;
			margin-left: 4%;

			.attachedFileArea{
				background: $white;
			}
		}

		div.row {
			&:first-child {
				div.width-96 {
					border-top: none;
				}
			}
		}
	}
	.loadmore {
		input {
			padding: 10px 15px;
			border: 1px solid #d4d4d4;
			border-radius: 4px;
			color: $textGrey;
		}
	}
}

.daterangepicker table tr td:first-child {
    padding-left: unset;
}
.changeLogs {
	padding: 0 20px;
	margin: 5px 0 20px 0;
	.changeLogWrap {
		padding: 15px 0 10px 0;
		border-bottom: 1px solid #ccc;
		&:last-child {
			border-bottom: none;
		}
	}
}
.greyGradient {
	background: #f4f5f7;
	background: -webkit-linear-gradient(top, #f4f5f7 1%, #efefef 48%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f5f7), color-stop(48%, #efefef), to(#e3e3e3));
	background: linear-gradient(to bottom, #f4f5f7 1%, #efefef 48%, #e3e3e3 100%);
}
.tabs {
	height: 35px;
	margin: 10px 0 0;
	line-height: 35px;
	.tab {
		a.active {
			color: $black;
			border-bottom: 2px solid #4688f1;
		}
		a {
			&:hover {
				color: $black;
			}
			color: $textGrey;
			text-align: left;
			display: inline-block;
			width: auto;
			&:focus {
				background: transparent;
			}
			&:focus.active {
				background: transparent;
			}
		}
	}
	li.tab {
		width: 100%;
		text-align: left;
		height: 35px;
		line-height: 35px;
	}
	.indicator {
		display: none;
	}
}
.usersmessages {
	width: 100%;
	div.width-96 {
		span.username {
			margin: 5px 10px;
			display: inline-block;
			color: $black;
		}
		p.usermessage {
			margin: 7px 10px 10px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-height: 22px;
			text-align: justify;
			font-size: 13px;
			color: $textGrey;
		}
		p.usermessage.expand {
			max-height: 500px;
			text-overflow: ellipsis;
			overflow: visible;
			white-space: normal;
		}
	}
	.add_circle {
		bottom: 20px;
	}
	div.add_circle {
		&:last-child {
			bottom: 40px;
		}
	}
}
nav.nav-wrapper {
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	border-bottom: solid 1px rgba(0, 0, 0, 0.08);
	z-index: 8;
	ul.left {
		li {
			a {
				padding: 0;
			}
		}
	}
}
ul {
	li {
		a {
			&:hover {
				color: $black;
			}
			display: inline-block;
			color: $color_9;
		}
		float: left;
		margin-right: 20px;
		a.active {
			color: $black;
			border-bottom: 2px solid #4688f1;	
		}
	}
	display: inline-block;
}



//table
table {
	tbody tr{
		border-bottom: none;
    	border-top: 1px solid #e9e9e9;
	}

	thead {
		tr {
			border-bottom: none;
		}
	}

	tr {
		line-height: 29px;
		&:last-child {
			padding: 0 20px;
		}

		th {
			font-family: $openSans;
			color: $black;
			font-weight: normal;
			font-size: 14px;
			padding: 9px 15px 9px 0;
			// border-bottom: 1px solid #e5e5e5;


			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				padding-right:20px;
			}
		}
		td {
			color: $textGrey;
			font-family: $openSans;
			font-size: 14px;
			padding: 7px 15px 7px 0;
			cursor: pointer;


			&:first-child {
				border-bottom: none;
				padding-left: 20px;
			}

			&:last-child {
				padding-right:20px;
			}
			
		}
	}
	tbody {
		tr {
			&:hover {
				background: #ffffff;
				background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
				background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
				background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
			}
		}
	}
}

#outputtabpopup {
	border-top: 1px solid #e5e5e5;
	img {
		width: 55px;
		border-radius: 50%;
		height: 55px;
		float: left;
	}
	.imagetitle {
		float: left;
		margin: 15px 0 0 15px;
		span {
			display: block;
			line-height: 20px;
		}
	}
	span {
		display: inline-block;
		line-height: 70px;
		padding: 0 10px;
	}
	span.color {
		padding: 2px 5px;
		display: inline;
		color: $white;
		font-size: 14px;
		border-radius: 2px;
	}
}
#versiontabpopup {
	border-top: 1px solid #e5e5e5;
}
#revisiontabpopup {
	border-top: 1px solid #e5e5e5;
}
#exceptiontabpopup {
	border-top: 1px solid #e5e5e5;
}
span.th {
	font-family: $openSans;
	color: $black;
	font-weight: normal;
	font-size: 14px;
	padding: 9px 15px 9px 0;
	width: 100px;
	border-bottom: 1px solid #e5e5e5;
	display: inline-block;
	width: 12.2%;
	border-bottom: none;
}
span.td.jobdesc {
	width: 20%;
}
span.th.jobdesc {
	width: 20%;
}
span.th.jobinfoheader {
	width: 2%;
}
.greytext {
	color: $color_2;
}
.roboto {
	font-family: $roboto;
}
.source-sans {
	font-family: $openSans;
}
.font14 {
	font-size: 14px;
}

form {
	h4.headingtag {
		margin: 0;
		border-bottom: 1px solid #c4c3c3;
	}
}
textarea#address {
	background: $white;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px 0;
	color: $textGrey;
	text-indent: 12px;
	margin: 0;
	height: 120px !important;
	font-size: 14px;
	&:focus {
		border: 1px solid $black !important;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
}
i.attach {
	color: $color_8;
	font-size: 25px;
	-webkit-transform: rotate(220deg);
	    -ms-transform: rotate(220deg);
	        transform: rotate(220deg);
}
span.file {
	line-height: 29px;
	display: inline-block;
	vertical-align: top;
}
div.progress {
	background: #ccc;
	margin: 0.6rem 0 1rem 0;
}
div.taskbar {
	width: 40%;
	float: left;
	margin: 13px 8px 0 0;
}
.progress {
	div.determinate {
		background: #2978c4;
	}
}
.blueGradient {
	background: #399dff;
	background: -webkit-linear-gradient(top, #399dff 0%, #297dcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#399dff), to(#297dcf));
	background: linear-gradient(to bottom, #399dff 0%, #297dcf 100%);
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 60px;
    line-height: 60px;
}
#sideNav {
	.tabs {
		.tab {
			a.active {
				background: #399dff;
				background: -webkit-linear-gradient(top, #399dff 0%, #297dcf 100%);
				background: -webkit-gradient(linear, left top, left bottom, from(#399dff), to(#297dcf));
				background: linear-gradient(to bottom, #399dff 0%, #297dcf 100%);
				outline: none;
				color: $white;
				border-bottom: none;
				width: 100%;
				&:focus {
					outline: none;
					color: $white;
					border-bottom: none;
					width: 100%;
					p {
						color: $white;
					}
				}
				p {
					color: $white;
				}
			}
			display: block;
			text-align: left;
			text-transform: capitalize;
			line-height: 51px;
			height: 51px;
		}
		height: auto;
	}
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	width: 50px;
	margin-top: 1px;
	z-index: 2;
	&:hover {
		width: 180px;
		ul {
			li {
				a {
					p {
						-webkit-transform: translateZ(0);
						-ms-transform: translateZ(0);
						transform: translateZ(0);
						height: auto;
						opacity: 1 !important;
						padding: 0;
						-webkit-transition: all .15s linear;
						transition: all .15s linear;
					}
				}
			}
		}
	}
}
.daterangepicker {
	.calendar-table {
		table {
			tr {
				.prev {
					&:hover {
						background: #399dff;
						background: -webkit-linear-gradient(top, #399dff 0%, #297dcf 100%);
						background: -webkit-gradient(linear, left top, left bottom, from(#399dff), to(#297dcf));
						background: linear-gradient(to bottom, #399dff 0%, #297dcf 100%);
					}
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					        transform: translateY(-50%);
					background: #666;
					border-radius: 50%;
					height: 40px;
					width: 42px;
					line-height: 35px;
					color: $white;
					left: -28px;
					text-align: right;
					padding-right: 6px;
					span {
						border: solid #fff;
						border-width: 0 2px 2px 0;
					}
				}
				.next {
					&:hover {
						background: #399dff;
						background: -webkit-linear-gradient(top, #399dff 0%, #297dcf 100%);
						background: -webkit-gradient(linear, left top, left bottom, from(#399dff), to(#297dcf));
						background: linear-gradient(to bottom, #399dff 0%, #297dcf 100%);
					}
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					        transform: translateY(-50%);
					background: #666;
					border-radius: 50%;
					height: 40px;
					width: 42px;
					line-height: 35px;
					color: $white;
					right: -28px;
					text-align: left;
					padding-left: 6px;
					span {
						border: solid #fff;
						border-width: 0 2px 2px 0;
					}
				}
				border: 1px transparent solid;
			}
			th.month {
				width: auto;
				.monthselect {
					min-width: 33px;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
					border: none;
					width: auto;
					cursor: pointer;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 1px;
					text-overflow: unset;
					&:focus {
						outline: none;
					}
				}
				.yearselect {
					min-width: 38px;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
					border: none;
					color: $grey_a;
					margin-left: 0;
					cursor: pointer;
					width: auto;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 1px;
					text-overflow: unset;
					&:focus {
						outline: none;
					}
				}
			}
		}
		th {
			font-weight: normal;
		}
		td {
			color: $grey_a;
			border-radius: 50% !important;
			font-size: 13px;
		}
	}
	-webkit-box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.3);
	margin-top: 10px;
	font-family: $openSans;
	.select-wrapper {
		&:nth-child(1) {
			input {
				color: $black;
			}
		}
		&:nth-child(2) {
			width: 55px;
			input {
				color: $textGrey;
			}
			svg {
				fill: #666;
			}
		}
		display: inline-block;
		line-height: 20px;
		height: 20px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		width: 50px;
		margin-right: 10px;
		svg {
			width: 19px;
		}
		.wrapMY {
			height: 100%;
		}
		input {
			min-width: 33px;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			border: none;
			width: auto;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: unset;
			height: 20px;
			line-height: 20px;
			width: 100%;
			font-size: 14px !important;
			border: 0 transparent solid;
			&:focus {
				border: 0 transparent solid;
			}
		}
		ul {
			min-width: 60px;
			max-width: 60px;
			max-height: 105px;
			border-radius: 3px;
			overflow: visible;
			padding: 5px 5px 5px 5px;
			li {
				min-height: auto;
				font-weight: normal;
				span {
					padding: 3px 10px;
					font-size: 13px;
					color: $textGrey;
					line-height: 20px;
					font-weight: bold;
				}
				&:hover {
					background: none;
					span {
						color: $black;
					}
				}
			}
			li.selected {
				span {
					color: $black;
					font-weight: bold;
				}
				&:hover {
					background: none;
				}
			}
			&:before {
				content: " ";
				position: absolute;
				bottom: 100%;
				left: 67%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: $border_color_3;
			}
			&:after {
				content: " ";
				position: absolute;
				bottom: 100%;
				left: 67%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: $border_color_4;
			}
		}
	}
	.drp-calendar.left {
		padding: 20px 0 15px 30px;
		position: relative;
		overflow: hidden;
		&:before {
			left: 9px;
			top: -7px;
			border-right: 7px solid transparent;
			border-left: 7px solid transparent;
			border-bottom: 7px solid #ccc;
			position: absolute;
			display: inline-block;
			border-bottom-color: $border_bottom_color_1;
			content: '';
		}
	}
	.drp-calendar.right {
		padding: 20px 30px 15px 8px;
		position: relative;
		overflow: hidden;
	}
	td.off {
		visibility: hidden;
	}
	td.in-range {
		background: #fff;
		color: $black;
	}
	td.active {
		background-color: $background_color_7;
		border-color: $border_color_5;
		color: $white;
		&:hover {
			background-color: $background_color_7;
			border-color: $border_color_5;
			color: $white;
		}
	}
	td.start-date {
		color: $white !important;
		background: #399dff !important;
		background: -webkit-linear-gradient(top, #399dff 0%, #297dcf 100%) !important;
		background: -webkit-gradient(linear, left top, left bottom, from(#399dff), to(#297dcf)) !important;
		background: linear-gradient(to bottom, #399dff 0%, #297dcf 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primaryColor', endColorstr='#297dcf',GradientType=0) !important;
	}
	td.end-date {
		color: $white !important;
		background: #399dff !important;
		background: -webkit-linear-gradient(top, #399dff 0%, #297dcf 100%) !important;
		background: -webkit-gradient(linear, left top, left bottom, from(#399dff), to(#297dcf)) !important;
		background: linear-gradient(to bottom, #399dff 0%, #297dcf 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primaryColor', endColorstr='#297dcf',GradientType=0) !important;
	}
	td {
		padding: 1px;
	}
	th {
		padding: 1px;
	}
	select {
		display: inline-block;
	}
}

input[type="file"] {
	opacity: 0;
	position: absolute;
	cursor: pointer;
	width: 83px;
}

.dropdown-contents {
	ul {
		padding: 10px 0;
	}
	input[type="file"] {
		opacity: 0;
		position: absolute;
		cursor: pointer;
		width: 83px;
	}
	li {
		a {
			cursor: pointer;
		}
	}
}
.replymessage {
	div.replycontent {
		padding: 0;
		margin: 0 0 15px 15px;
		border: 1px solid #ccc;
		width: 95% !important;
		border-radius: 4px;

		.headingtag{
			padding: 18px 20px;
			font-size: 19px;
		}
	}
	img.userimg {
		margin-right: 10px;
		width: 40px;
		height: 40px;
	}
	input[type="file"] {
		opacity: 0;
		position: absolute;
		cursor: pointer;
		width: 83px;
		left: 94px;
		width: 90px;
	}
}
div.replycontent {
	div.replyattachment {
		padding: 20px 20px 0;
	}
	div.replyfiles {
		padding: 0 20px 30px;
		background: #fbfbfb;
	}
}
div.add_circle {
	i {
		font-size: 25px;
		color: $color_10;
	}
}
.discard_message {
	padding: 10px 15px;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	color: $textGrey;
}
.Messages {
	.messagecontent {
		div.loadmore {
			margin: 20px 0 0 4%;
			border-top: 1px solid #ccc;
			position: relative;
			width: 96%;
		}
	}
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0 0 5px #e9eaec;
	        box-shadow: 0 0 5px #e9eaec;
	border-radius: 4px;
}
div.loadmore {
	a {
		position: absolute;
		top: -20px;
		left: 40%;
		letter-spacing: 0;
		font-size: 13px;
	}
}
span.username {
	.date {
		position: relative;
	}
	.time {
		margin-left: 10px;
		&:before {
			content: '';
			border-left: 1px solid #808080;
			width: 2px;
			height: 17px;
			top: 0;
			position: absolute;
			right: 52px;
		}
	}
}
.loadmoreGradient {
	background: #f3f4f6;
	background: -webkit-linear-gradient(top, #f3f4f6 1%,#f1f1f2 48%,#e8e8e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f3f4f6),color-stop(48%, #f1f1f2),to(#e8e8e8));
	background: linear-gradient(to bottom, #f3f4f6 1%,#f1f1f2 48%,#e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f5', endColorstr='#ececec',GradientType=0 );
}
.changeTypeIcon {
	background-image: url(../images/sprites_v17.svg);
	background-repeat: no-repeat;
	background-size: auto 900px;
}
.taskstatus {

	.plainPop .dropdown-contents.active {
		min-width: 89px;

	}
	.filter {
		background-image: url(../images/sprites_v17.svg);
		background-repeat: no-repeat;
		background-size: auto 900px;
		background-size: auto 550px;
		width: 26px;
		height: 26px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 7px;
		background-position: -60px -45px;
	}
	padding-right: 10px;
	.order-by {
		span {
			padding-right: 10px;
		}
		cursor: pointer;
		display: inline-block;
		i {
			line-height: 2px;
		}
		.dropdown-contents {
			top: 39px;

				.checkboxWrap{
					height: 22px;
					display: inline-block;
					line-height: 22px;

					> span{
						vertical-align: middle;
						padding-left: 16px;
						top: -2px;
					}
				}

				.dropdown-menu{

				li{
					position: relative;
					a{
						display: inline-block !important;
						padding-right: 50px !important;
					}

				.badge{
					@extend %blueGradient;
					color: #fff;
					font-size: 11.5px;
					position: absolute;
					right: 15px;
					top: 6px;
					border-radius: 3px;
					padding: 0 7px;
					min-width: unset;
					line-height: 20px;
					height: 20px;
				}
				}
			}

		}
	}
	.filter.change {
		background-position: -110px -45px;
		width: 22px;
	}

}
.changeTypeIcon.change {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
	background-position: -458px -272px;
}
.changeTypeIcon.create {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
	background-position: -563px -367px;
	background-size: auto 1100px;
}
.changeTypeIcon.download {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
	background-position: -616px -433px;
	background-size: auto 1200px;
}
div.changedVal {
	background-color: $background_color_3;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	padding: 13px 15px 13px 38px;
	margin: 10px 0 10px 34px;
	position: relative;
	min-height: 70px;
	line-height: 42px;
	-webkit-transition: .3s background-color;
	transition: .3s background-color;
	&:hover {
		background: #fff;
	}
}
span.changeborder {
	width: 44px;
	height: 44px;
	border: 1px solid #ccc;
	border-radius: 50px;
	line-height: 0;
	margin-left: -27px;
	background: #fff;
	position: absolute;
	top: 50%;
	-webkit-transform: translatey(-50%);
	    -ms-transform: translatey(-50%);
	        transform: translatey(-50%);
	left: 0;
	line-height: 41px;
}
.details {
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0 0 5px #e9eaec;
	        box-shadow: 0 0 5px #e9eaec;
	border-radius: 3px;
}
.task {
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0 0 5px #e9eaec;
	        box-shadow: 0 0 5px #e9eaec;
	border-radius: 3px;

	input[type="text"] {
		height: auto;
		font-size: 14px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 5px;
		width: 90%;
		line-height: 24px;
		&:-moz-read-only {
			border: none;
			outline: none;
			padding-bottom: 8px;
			border-bottom: 1px solid transparent;
			resize: none;
		}
		&:read-only {
			border: none;
			outline: none;
			padding-bottom: 8px;
			border-bottom: 1px solid transparent;
			resize: none;
			line-height: 24px;
		}
	}
	input[type="text"].select-dropdown{
		&:read-only{
			border-bottom: 1px solid #ccc;
		}
		&:disabled{
			border-bottom: 1px solid transparent;
			color: $black;

			+ .caret{
				opacity: 0;
			}
		}
	}
	input[type=text] {
		&:not(.browser-default) {
			&:focus {
				&:not([readonly]) {
					height: auto;
					font-size: 14px;
					border-bottom: 1px solid #ccc;
					padding-bottom: 5px;
					width: 90%;
				}
			}
		}
		&:not(.browser-default)[readonly="readonly"] {
			color: $black;
		}
	}

	textarea {
		&:-moz-read-only {
			border: none;
			outline: none;
			padding-bottom: 8px;
			border-bottom: 1px solid #ccc;
			resize: none;
		}
		&:read-only {
			border: none;
			outline: none;
			padding-bottom: 8px;
			border-bottom: 1px solid transparent;
			resize: none;
		}
		&:focus {
			padding-bottom: 8px;
			border-bottom: 1px solid #ccc;
			outline: none;
			resize: none;
			width: 90%;
		}
		// height: 30px;
		border: none;
		border-bottom: 1px solid #ccc;
		outline: none;
		resize: none;
		width: 90%;
		height: 111px;
		position: absolute;
	}
}

[class^="jdicon-"]:before, [class*=" jdicon-"]:before{
	line-height: unset;
}

.attachments {
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0 0 5px #e9eaec;
	        box-shadow: 0 0 5px #e9eaec;
	border-radius: 4px;

	table .btn-small{
		height: 31px;
		line-height: 31px;
	}

	.attImg{
		margin-right: 12px;
	}

	.attImgText{
		display: inline-block;
		font-size: 14px;
		color: $textGrey;	
	}

	.checkboxWrap{
		padding-left: 10px;
		span{
			vertical-align: middle;
			margin-right: 13px;
		}
	}
	

	tbody td:first-child, thead th:first-child {
		padding-left: 0;
	}

	tbody td:last-child {
		white-space: nowrap;

		.jdicon{
			padding: 0 5px;
		}
	}

	.order-by {
		width: 160px;
		padding: 4px 10px 5px 10px;
		border-radius: 0;
		border: 1px solid #d4d4d4;
		display: inline-block;
		margin: 0;
		font-weight: normal;
		width: 115px;
		cursor: pointer;

		>a.hover-link {
			padding-right: 5px;

			span{
				padding-left: 0;
			}
		}
		.hover-link {
			i {
				position: absolute;
				right: 5px;
				top: 13px;
				line-height: 6px;
				vertical-align: middle;
				color: $textGrey;
			}
		}
	}

	.dropdown {
		// pointer-events: none;

		> input[type="file"]{
			left: 0;
			top: 0;
			z-index: 1;
			pointer-events: all;
			width: calc(100% - 35px);
			height: 35px;
		}
		
		.hover-link {
			font-size: 14px;
			display: inline-block;

			span {
				font-weight: normal;
				letter-spacing: 0;
			}
		}
		&.plainPop.btn.btn-primary{
			> a{
				line-height: unset;
				color: $white;
				font-size: 13px;
			}
			i{
				font-size: 21px;
				pointer-events: all;
			}
			.dropdown-contents{
				text-align: left;
				ul li a{
					font-size: 13px;
				}
			}
		}
	}
	#inputtab, #inputtabS, #inputtabSS {
		.order-by {
			.hover-link {
				i {
					top: 16px;
				}
			}
		}

		a.hover-link {
			padding-right: 5px;

			span{
				padding-left: 0;
			}
		}
		p.wrap{
			display: inline-block;
			vertical-align: middle;
		}
	}
	#outputtab,  #outputtabS,  #outputtabSS{
		.order-by {
			.hover-link {
				i {
					top: 16px;
				}
			}
		}
		a.hover-link span {
			padding-left: 0;
		}
	}
	.plainPop {
		.dropdown-contents {
			top: 39px !important;
			z-index: 1;
		}
	}
	.contentedit {
		float: right;
		padding: 12px 15px;
	}
}

#inputtab, #outputtab, #inputtabS, #outputtabS, #inputtabSS, #outputtabSS{
	tbody td:last-child {
		white-space: nowrap;

		.jdicon{
			padding: 0 0 0 15px;

			&+.jdicon{
				padding: 0 0 0 10px;
			}
		}
	}
}

a[target="_blank"]{
	i{
		opacity: 0;
		font-size: 15px;
		position: relative;
		top: -2px;
		color: #aaa;
		transition: .2s opacity;
	}
}

a[target="_blank"]:hover{
	i{
		
		opacity: 1;
	}
}

.dateWrap{
	p:nth-child(2){
		position: relative;

		input{
			width: 90%;
			max-width: unset;
		}
		a{
			position: absolute;
			left: 95px;
			line-height: 29px;
		}
	}
}


.statusSubTTable{
	padding: 3px 6px;
	border-radius: 3px;
	color: white;
	background: $textGrey;
}

.statusSubTTable.green{
	background: #27ae61 !important;
}

.statusSubTTable.orange{
	background: #8f44ad !important;
}

.statusSubTTable.blue{
	background: #e67d22 !important;
}

.subTasks {
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0 0 5px #e9eaec;
	        box-shadow: 0 0 5px #e9eaec;
	border-radius: 3px;

	table tr th:first-child, table tr td:first-child {
		padding-left: 8px;
	}

	.checkboxWrap{
		vertical-align: middle;
		font-size: 14px;
		line-height: 34px;
		color: $black;

		> span, > a{
			vertical-align: middle;
		}
	}

	.statusSubTTable{
		padding: 3px 6px;
		border-radius: 3px;
		color: white;
		background: $textGrey;
	}

	.statusSubTTable.green{
		background: #27ae61 !important;
	}

	.statusSubTTable.orange{
		background: #8f44ad !important;
	}

	.statusSubTTable.blue{
		background: #e67d22 !important;
	}
	


	.contentedit {
		.order-by {
			width: 150px;
		}
		float: right;
		padding: 13px 15px;
	}
	.order-by {
		width: 160px;
		padding: 4px 10px 5px 10px;
		border-radius: 4px;
		border: 1px solid #d4d4d4;
		display: inline-block;
		margin: 0 5px;
		font-weight: normal;
		>a {
			padding-right: 5px;
		}
		.hover-link {
			i {
				position: absolute;
				right: 5px;
				top: 13px;
				line-height: 6px;
				vertical-align: middle;
				color: $textGrey;
			}
		}
	}
	.dropdown {
		.hover-link {
			font-weight: bold;
			font-size: 13px;
			letter-spacing: 0;
			color: #fff;
			min-width:68px;
			text-align: left;
		}
	}
	.plainPop {
		.dropdown-contents {
			top: 39px !important;
			z-index: 1;

			.dropdown-menu{
				padding-bottom: 0;
			}

			li:hover{
				@extend %greyGradient;
				a{
					color: $black;
				}
			}
		}
	}
	.checkbox {
		width: 19px;
		height: 22px;
		display: inline-block;
		background: url(../images/sprites_v17.svg);
		background-size: auto 450px;
		vertical-align: middle;
		background-repeat: no-repeat;
	}
	.checkbox.intial {
		background-position: -68px -92px;
		margin: 0 8px;
		height: 18px;
		padding: 0;
	}
	.checkbox.active {
		background-position: -87px -92px;
	}
}

.linkedItem {
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0 0 5px #e9eaec;
	        box-shadow: 0 0 5px #e9eaec;
	border-radius: 3px;

	table tr th:first-child, table tr td:first-child {
		padding-left: 8px;
	}

	.contentedit {
		float: right;
		padding: 13px 15px;
	}
}


.activity {
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0 0 5px #e9eaec;
	        box-shadow: 0 0 5px #e9eaec;
	border-radius: 3px;
}
.activejobs {
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0 0 5px #e9eaec;
	        box-shadow: 0 0 5px #e9eaec;
	border-radius: 4px;
	.checkbox {
		width: 19px;
		height: 22px;
		display: inline-block;
		background: url(../images/sprites_v17.svg);
		background-size: auto 450px;
		vertical-align: middle;
		background-repeat: no-repeat;
	}
	.checkbox.intial {
		background-position: -68px -92px;
		margin: 0 8px;
		height: 18px;
		padding: 0;
	}
	.checkbox.active {
		background-position: -87px -92px;
	}
	span.color {
		padding: 2px 5px;
		display: inline;
		color: $white;
		font-size: 14px;
		border-radius: 2px;
	}
}
.detailstask-edit {
	padding: 16px 20px;
	line-height: 30px;
	vertical-align: middle;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-top: 1px solid #ccc;
	border-radius: 2px;
	z-index: 2;
	display: none;
	.padding {
		padding: 0 0 15px 0;
		background: #f4f5f7;
		position: fixed;
		left: 50px;
		right: 0;
		z-index: 1;
		bottom: 75px;
		left: 0;
	}

	.btn{
		margin-right: 10px; 
	}
}

.createBottombar {
	padding: 16px 20px;
	line-height: 30px;
	vertical-align: middle;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-top: 1px solid #ccc;
	border-radius: 2px;
    z-index: 2;
	display: none;
    box-shadow: 0 0 8px #ddd;

	.padding {
		padding: 0 0 15px 0;
		background: #f4f5f7;
		position: fixed;
		left: 50px;
		right: 0;
		z-index: 1;
		bottom: 75px;
		left: 0;
	}

	.btn{
		margin-right: 10px; 
	}

	.checkboxWrap{
		color: $textGrey;
		margin-right: 15px;

		[type="checkbox"] + span{
			vertical-align: middle;
			padding-left: 28px;
		}
	}
}
.createBottombarPop{
	z-index: 1000;
}
.editOperations {
	background-repeat: no-repeat;
    font-size: 18px;
}
span.imageattached {
	background-image: url(../images/sprites_v17.svg);
	background-repeat: no-repeat;
}
span.jobinfo {
	background-image: url(../images/sprites_v17.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 26px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	cursor: pointer;
	background-position: -105px -139px;
	background-size: auto 320px;
	width: 21px;
	margin-top: 10px;
	height: 23px;
}
.editOperations.edit {
	width: 20px;
	height: 26px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	cursor: pointer;
	display: none;
	color: $textGrey;
	transition: .2s color;
	&:hover {
		color: $black;
	}
}
.editOperations.delete {
	width: 20px;
	height: 26px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	cursor: pointer;
	&:hover {
		color: $black;
	}
}
.imageattached.format {
	background-position: -234px -664px;
	background-size: auto 700px;
	width: 20px;
	height: 26px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	cursor: pointer;
}
.replyattachment {
	.imageattached.format {
		width: 34px;
		height: 34px;
	}
	.filetype {
		line-height: 17px;
	}
}
.filesselect {
	.select-wrapper {
		span.caret {
			right: 15px;
			top: 0;
			font-size: 16px;
			color: $white;
		}
		border-radius: 4px;
		color: $white;
	}
	input[type="text"] {
		text-indent: 15px;
		margin: 0;
		border-bottom: none;
		height: 40px;
	}
	width: 150px;
	display: inline-block;
	vertical-align: middle;
}
.subtaskselect {
	.select-wrapper {
		span.caret {
			right: 15px;
			top: 0;
			font-size: 16px;
			color: $white;
		}
		border-radius: 4px;
		color: $white;
	}
	input[type="text"] {
		text-indent: 15px;
		margin: 0;
		border-bottom: none;
		height: 40px;
	}
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	width: 180px;
}
span.userImg {
	display: inline-block;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
.userTitle {
	font-weight: bold;
	display: inline-block;
	margin-right: 8px;
	color: $black;
	vertical-align: middle;
	font-size: 14px;
}
.changeType {
	display: inline-block;
	color: $black;
	padding-left: 12px;
	vertical-align: middle;
	position: relative;
	font-size: 14px;
	&:before {
		content: '';
		border-left: 1px solid #999;
		width: 2px;
		height: 17px;
		top: 4px;
		position: absolute;
		left: 0;
	}
}
.changedBy {
	line-height: 25px;
}
.changeTime {
	font-size: 13px;
	color: $textGrey;
	float: right;
	vertical-align: middle;
	margin-top: 1px;
}
div.changeDetailsHeader {
	color: $black;
	line-height: 22px;
	font-size: 14px;
}
.changeDetailsDesc {
	max-height: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 94%;
	-webkit-transition: .5s all ease-in;
	transition: .5s all ease-in;
	line-height: 22px;
	color: $textGrey;
	font-size: 14px;
}
.changeDetails {
	line-height: 22px;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
}
.circle_expand {
	position: absolute;
	right: 0 !important;
	bottom: 8px;
	cursor: pointer;
	line-height: 0;
	color: $textGrey;
	right: 20px !important;
	i {
		&:hover {
			color: $black;
		}
	}
}
.add_circle {
	position: absolute;
	right: 0 !important;
	bottom: 8px;
	cursor: pointer;
	line-height: 0;
	color: $textGrey;
	i {
		&:hover {
			color: $black;
		}
	}
}
.changeDetailsDesc.expand {
	max-height: 500px;
	text-overflow: ellipsis;
	overflow: visible;
	white-space: normal;
}
div.details-content {
	.row {
		padding-top: 20px;
	}
	p {
		margin-bottom: 5px;
		line-height: 17px;
	}
}
div.task-details {
	.row {
		padding-top: 20px;
	}
	p {
		margin-bottom: 5px;
		line-height: 17px;
	}
}
.sidebar-mini {
	.sidebar {
		width: 50px;
	}
	.tabs {
		overflow-x: hidden;
		.tab {
			a {
				overflow: inherit;
				text-overflow: inherit;
				text-transform: capitalize;
				font-weight: normal;
			}
		}
	}
}
.sidebar {
	width: 180px;
	position: fixed;
	z-index: 3;
	top: 60px;
	left: 0;
	-webkit-transition: all .5s;
	transition: all .5s;
	max-height: 100%;
	height: 100%;
	.side-menu {
		ul {
			li {
				a {
					&:hover {
						background: #1f242c;
						-webkit-transition: all .3s ease-out;
						transition: all .3s ease-out;
					}
					color: $textGrey;
					-webkit-transition: all .15s ease-in;
					transition: all .15s ease-in;
					padding: 0 10px;
					position: relative;
					display: inline-block;
					background: none;
					border-bottom: none;
					line-height: 45px;
					vertical-align: top;
					text-overflow: inherit;
					-webkit-transition: all .5s linear;
					transition: all .5s linear;
					padding: 0 !important;
					line-height: 47px !important;
					width: 100%;
					p {
						margin: 0;
						line-height: 32px;
						vertical-align: middle;
						font-size: 14px;
						font-weight: normal;
						white-space: nowrap;
						position: relative;
						font-family: $roboto;
						color: $grey_c;
						-webkit-transform: translateZ(0);
						-ms-transform: translateZ(0);
						transform: translateZ(0);
						height: auto;
						opacity: 1;
						padding: 0;
						-webkit-transition: all .15s linear;
						transition: all .15s linear;
					}
				}
				.spriteWrap {
					width: 50px;
					display: inline-block;
					height: 50px;
					.menuSprite.asset {
						width: 20px;
						height: 16px;
						background-position: 0px -9px;
					}
					.menuSprite.batchDet {
						width: 18px;
						height: 22px;
						background-position: -18px -10px;
					}
					.menuSprite.report {
						width: 22px;
						height: 22px;
						background-position: -36px -9px;
					}
					.menuSprite.setting {
						width: 22px;
						height: 22px;
						background-position: -57px -10px;
					}
					.menuSprite.help {
						width: 22px;
						height: 22px;
						background-position: -148px -10px;
						background-size: auto 350px;
						opacity: .9;
					}
					.menuSprite {
						width: 30px;
						height: 30px;
						display: inline-block;
						overflow: hidden;
						vertical-align: middle;
						position: relative;
						left: 48%;
						-webkit-transform: translateX(-50%);
						    -ms-transform: translateX(-50%);
						        transform: translateX(-50%);
						background: url(../images/sprites_v17.svg);
						background-size: auto 400px;
						background-repeat: no-repeat;
					}
				}
				p {
					display: inline-block;
				}
			}
			padding: 0;
			margin: 0;
			-webkit-box-shadow: none !important;
			        box-shadow: none !important;
			border: none !important;
			background: #363d47;
		}
		height: 100%;
		-webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
		box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
		overflow-x: hidden;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		background: #363d47;
	}
}
.main-panel {
	max-height: 100%;
	height: 100%;
}
#sideNav.active {
	width: 180px;
	ul {
		li {
			a {
				p {
					-webkit-transform: translateZ(0);
					-ms-transform: translateZ(0);
					transform: translateZ(0);
					height: auto;
					opacity: 1 !important;
					padding: 0;
					-webkit-transition: all .15s linear;
					transition: all .15s linear;
				}
			}
		}
	}
}
body.sidebar-mini {
	.side-menu {
		ul {
			li {
				a {
					p {
						margin-left: -9px;
						opacity: 0;
						-webkit-transform: translate3d(-25px, 0, 0);
						        transform: translate3d(-25px, 0, 0);
						-webkit-transition: all .15s linear;
						transition: all .15s linear;
					}
				}
			}
		}
	}
}
.sideMenuOpen {
	.rhs {
		margin-left: 178px;
		left: 0;
		.content-header {
			margin-left: 130px;
		}
	}
	#task {
		.rhs {
			margin-left: 178px !important;
			left: 0;
		}
	}
	.drafts.rhs {
		margin-left: 0;
		left: 178px;
	}
	#createjob {
		.content-body.rhs {
			margin-left: 178px;
		}
	}
	.border-bot-table.header.rhs {
		left: 194px;
		margin-left: 0;
	}
}
.drafts {
	-webkit-transition: left .3s;
	transition: left .3s;
	display: none;
	position: fixed;
	left: 50px;
	right: 0;
	top: 60px;
	z-index: 1;
	background: #fff;
	.headeredit {
		i {
			display: inline-block;
		}
	}
	.headingtag {
		display: inline-block;
	}
	.editOperations.delete {
		display: inline-block;
	}
}
.border-bot-table.header {
	-webkit-transition: left .3s;
	transition: left .3s;
	display: none;
	position: fixed;
	right: 16px;
	left: 66px;
	background: #fff;
	top: 138px;
	z-index: 1;
}
div.border-bot-table.header {
	border-bottom: .5px solid #e5e5e5;
}
.dropdown {
	position: relative;
	.hover-link {
		color: $textGrey;
		font-size: 15px;
		display: inline-block;
		line-height: initial;

		span {
			color: $textGrey;
			display: inline-block;
			vertical-align: middle;
		}
		i {
			vertical-align: middle;
			margin: 0;
		}
	}
	.dropdown-contents.appsMenu {
		padding: 5px 0;
		min-width: 125px;
		top: 59px;
		li {
			padding: 4px 10px !important;
			padding: 4px 10px !important;
		}
		a {
			padding: 5px 0px !important;
			font-size: 17px;
			line-height: normal;
		}
	}
	.dropdown-contents {
		position: absolute;
		z-index: 2;
		left: 0px;
		background: #fff;
		color: $textGrey;
		font-size: 14px !important;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		-webkit-box-shadow: 0 1px 5px #b7b7b7;
		box-shadow: 0 1px 5px #b7b7b7;
		span.arrow-up {
			left: 10px;
			right: auto;
		}
		.dropdown-menu {
			li {
				-webkit-transition: all 0.5s;
				transition: all 0.5s;
				margin: 0 !important;
				padding: 4px 15px !important;
				white-space: nowrap;
				a {
					padding: 1px 0px !important;
					display: block !important;
				}
			}
		}
		li {
			width: 100%;
			display: block;
			line-height: 21px !important;
			a {
				font-size: 14px;
				text-align: left;
				color: $textGrey;
				padding: 7px 10px !important;
			}
		}
		i {
			font-size: 14px !important;
			color: $textGrey;
			vertical-align: middle;
			height: auto !important;
			line-height: 20px !important;
		}
		li.footer {
			a {
				color: $white !important;
				text-align: center;
				-webkit-box-shadow: none;
				        box-shadow: none;
				border-radius: 4px;
			}
		}
	}
	.dropdown-contents.profileMenuWrap {
		padding: 5px 0 14px 0;
		right: 2px !important;
		.dropdown-menu.profileMenu {
			li {
				padding: 0 15px !important;
				width: 157px;
				line-height: 34px !important;
				a {
					padding: 0 !important;
					line-height: 31px;
				}
			}
			li.footer {
				padding: 0 !important;
				margin: 10px 0 0 0 !important;
			}
		}
	}
	.dropdown-contents.dropdown-right {
		left: auto !important;
		span.arrow-up {
			left: auto;
			right: 10px;
		}
	}
}


//tooltip
.tooltipped {
	position: relative;
	.tooltiptext {
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: $border_color_2;
		}
	}
	&:not(.tt) {
		&:hover {
			.tooltiptext {
				visibility: visible !important;
				opacity: 1 !important;
				bottom: 80%;
			}
		}
	}
}
.tooltipped[data-position="bottom"] {
	.tooltiptext {
		&::after {
			bottom: 100%;
			top: auto;
			border-color: $border_color_1;
		}
		bottom: auto;
		top: 125%;
	}
	&:not(.tt) {
		&:hover {
			.tooltiptext {
				top: 100%;
			}
		}
	}
}
.tooltipped[data-position="left"] {
	.tooltiptext {
		&::after {
			right: auto;
			top: 50%;
			left: 100%;
			border-color: transparent transparent transparent #323232;
			margin-left: -1px;
			transform: translateY(-50%);
		}
		bottom: auto;
		top: 125%;
	}
	&:not(.tt) {
		&:hover {
			.tooltiptext {
				right: 50%;
				left: auto;
				top: auto;
				bottom: auto;
			}
		}
	}
}



.plainPop {
	.dropdown-contents {
		opacity: 0;
		pointer-events: none;
		-webkit-transition: opacity 0.3s ease-out;
		transition: opacity 0.3s ease-out;
		line-height: 10px;
	}
	.dropdown-contents.active {
		opacity: 1;
		pointer-events: auto;
	}
}
.arrow-up {
	width: 19px;
	height: 10px;
	background: url(../images/arrow-up.png) no-repeat left top;
	position: absolute;
	top: -10px;
	left: 20px;
}
.dropdown-menu {
	li {
		a {
			&:hover {
				color: $black;
			}
		}
	}
}
i.material-icons {
	vertical-align: middle;
}
a {
	i {
		vertical-align: middle;
		color: $textGrey;
	}
}
.tabsparent {
	width: 100%;
	line-height: 10px;
	border-bottom: 1px solid #e9e9e9;

	.tabs{
		height: 45px;

		.tab{
			line-height: 45px;
			height: 45px;
		}
	}
}
.border-bot-table.td {
	&:hover {
		background: #ffffff;
		background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
		background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
		background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
	}
}
.border-bot-table.td.remove {
	background: #ffffff;
	background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
	background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
}

#tasklistScroll{
    // height: calc(100vh - 382px);
}

#tasklist {
	.wrapTable{
		&.rotate{
			border-bottom: 1px solid #e9e9e9;

			.jdicon-down{
				transform: rotate(180deg);
			}
		}
	}

	.nestedTable{
		border: none;
		font-size:13px;
		background: none !important;

		table{
			position: relative;
		}

		tr{
			position: relative;

			&:before{
				content: '';
				position: absolute;
				width: 22px;
				height: 103px;
				background: url(../images/nestedTableArrow.png) no-repeat;
				left: -22px;
				margin-top: -76px;
				// opacity: .6;
			}
		}

		thead tr{
			position: relative;

			&:before{
				content: '';
				position: absolute;
				width: 22px;
				height: 103px;
				background: url(../images/nestedTableArrow.png) no-repeat;
				left: -22px;
				margin-top: -76px;
				opacity: 0;
			}
		}


		td{
			padding: 0 17px 0 16px;

			&:first-child{
				padding-right: 10px;
			}

			td{
				padding: 5px 20px;
			}

			th{
				padding: 5px 20px;
				pointer-events: none;
			}

			div.wrap{
				display: none;
				margin: 0;
				padding: 10px 10px 0 52px;
				overflow: hidden;
				// background: #f4f5f7;
				
				tr:hover{
					// background: $white;
				}
			}
		}
		>td{
			padding: 0;
		}
	}


	.statusSubTTable{
		padding: 3px 6px;
		border-radius: 3px;
		color: white;
		background: $textGrey;
	}

	.statusSubTTable.green{
		background: #27ae61 !important;
	}

	.statusSubTTable.purple{
		background: #8f44ad !important;
	}

	.statusSubTTable.orange{
		background: #e67d22 !important;
	}

	.statusSubTTable.blue{
		background: #2c7bca !important;
	}

	.contentedit {
		float: right;
		padding: 17px 15px;
	}
	.checkbox.intial {
		background-position: -68px -92px;
		margin: 0 8px 0 0;
		height: 18px;
		padding: 0;
	}
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	border: 1px solid #cdcdcf;
	margin: 20px 0;
	// height: calc(100vh - 300px);
}
.checkbox.intial {
	&:after {
		display: none;
	}
	&:before {
		display: none;
	}
}
.bodypopup, .linkItems, .savedFilter, .saveFilter {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9;

	.popup-tabs{
		margin-bottom: 20px;
		max-height: 285px;
	}
}
.saveFilter{
	.popup {
		width: 513px;
		height: 325px;

		.popup-tabs{
			padding: 20px 25px 30px 25px;

			input{
				color: $textGrey;
				font-size: 14px;
				border: none;
				border-bottom: 1px solid #ccc;
				box-shadow: none;

	
				&::placeholder{
					color: #aaa;
				}
				&:focus{
					border-bottom: 1px solid $black;
				}
			}

			textarea{
				resize: none;
				height: 90px;
				color: $textGrey;
				border: none;
				border-bottom: 1px solid #ccc;
				margin-top: 15px;
				box-shadow: none;
	
				&::placeholder{
					color: #aaa;
				}
	
				&:focus{
					border-bottom: 1px solid $black;
					box-shadow: none;
					outline: none;
				}
			}

			.btn{
				margin-top: 15px; 
			}

		}
	}
}
.linkItems {

	.selectedLinked > div, .selectedToLinked > div{
		height: 174px;
		// overflow: hidden;
	}
	.selectedLinked, .selectedToLinked{
		position: relative;
		margin-bottom: 20px; 
	}

	.popup{
		height: 579px;
	}

	.popup table tr th {
		padding: 5px 15px 5px 10px;
	}
	.popup table tr td {
		padding: 5px 15px 5px 10px;
	}

	.popup-tabs{
		max-height: 501px;
		height: 501px;
		margin-bottom: 0;
		padding: 18px 25px 17px 25px;
		position: relative;

		.dropdown.plainPop{
			height: 28px;
			display: inline-block;

			.dropdown-contents{
				top: 37px;

				.arrow-up{
					left: 26px;
				}
			}
		}

		h6{
			font-family: $roboto;
			margin-bottom: 12px;
			margin-top: 5px;
		}

		table{
			margin-bottom: 20px;
		}

		.checkboxWrap span{
			vertical-align: middle;
		}

		thead tr{
			border-bottom: 1px solid #c4c3c3;
			border-top: 1px solid #c4c3c3;
		}

		tbody tr:last-child{
			border-bottom: 1px solid #e9e9e9
		}

		td.inputField{
			padding: 4px 15px 4px 10px;

			input{
				margin-bottom: 0;
				font-size: 14px;
				padding: 0 10px;
				height: 36px;
				border-radius: 3px;
				box-shadow: inset 0 0 4px #999;
				outline: none;
				border: none;
				width: 96%;
				background: white;
			}
			input:focus{
				box-shadow: inset 0 0 4px #777;
				outline: none;
				border: none;
			}
		}
	}
	.linkedSaveFix{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px 25px 15px 25px;
		border-top: 1px solid #ccc;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		background: $white;
	}
}

.moreMenu{
	.dropdown-contents{
		left: auto;
		right: 0;
		top: 27px;
		right: -13px;

		.dropdown-menu{
			padding: 5px 0;

			span.arrow-up{
				left: auto;
				right: 10px;
			}
			
			a{
				font-size: 14px;
				font-weight: normal;
			}
		}
	}
}
.statuspopup, .deletePopup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1002;

	.status{
		background: $primaryColor;
		padding: 3px 10px;
		color: white;
		font-weight: normal;
		border-radius: 2px;
	}
	.popup {
		width: 450px;
		height: auto;
		padding: 0;
	}
	p {
		color: $textGrey;
		font-size: 14px;
		padding: 15px 0 0;
		span {
			color: $textGrey;
			font-weight: bold;
		}
	}
	a {
		float: right;
		margin-top: 5px;
	}
	textarea {
		border: none;
		resize: none;
		border-bottom: 1px solid #ccc;
		outline: none;
		color: $textGrey;
		font-size: 13px;
		margin-top: 20px;
		height: 80px;

		&::placeholder{
			color: #aaa;
		}
	}
	textarea:focus {
		border-bottom: 1px solid $black;
	}
}
.deletePopup{
	p{
		padding: 30px 0 0;
	}
	a{
		float: none;
		margin-top: 0;
		margin-bottom: 10px;
	} 
}
.popup {
	width: 850px;
	height: 500px;
	position: fixed;
	z-index: 10;
	background: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 4px;

	.status-header{
		.jdicon{
			font-size: 17px;
    		vertical-align: middle;
    		line-height: 25px;
		}
	}
	li.tab {
		width: auto;
		a {
			padding: 0;
			letter-spacing: .5px;
			font-size: 16px;
			margin-right: 15px;
		}
	}
	tr {
		// border-bottom: .5px solid rgba(0,0,0,0.12);
		// line-height: 28px;
	}
	.primarycolor {
		img {
			margin-right: 8px;
		}
	}
	table {
		tr {
			td {
				padding: 8px 15px 8px 10px;
			}
			th {
				padding: 8px 15px 8px 10px;
			}
		}
	}
	ul {
		margin: 0;
		width: auto;
	}
}
.popup-tabs {
	height: 425px;
	overflow: auto;
}
.workflowPop{
	height: auto;
	max-height: 500px;
	.popup-tabs{
		padding: 5px 25px 20px 25px;
		height: auto;
	}
}

.editOperations.close {
	float: right;
	width: 20px;
	height: 20px;
	background-size: auto 503px;
	background-position: -198px -197px;
	cursor: pointer;
	margin-top: 8px;
	&:hover {
		background-position: -216px -197px;
	}
}
#treeviewtab {
	text-align: center;
}
.table {
	.border-bot-table.remove {
		span.jobinfo {
			background-position: -156px -137px;
			height: 20px;
		}
	}
}
span.color.red {
	background: #fa011e !important;
}
span.color.yellow {
	background: #f89406 !important;
}
span.color.green {
	background: #6a9e45 !important;
}
span.color.blue {
	background: #0b5490 !important;
}
span.color.green1 {
	background: #129800 !important;
}
span.color.blue1 {
	background: #2971d3 !important;
}
span.color.grey {
	background: #666 !important;
}
.jobdetailspopup {
	padding: 0 25px 15px;
	background: #fff;
	border-bottom: .5px solid #e5e5e5;
	h2 {
		font-size: 24px;
	}
}
::-webkit-file-upload-button {
	cursor: pointer;
}
[role="button"] {
	cursor: pointer;
}
.status-header {
	h4 {
		display: inline-block;
		font-size: 24px;
		margin: 0;
		background: #f3f3f3;
		padding: 18px 18px 17px 25px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		color: $color_12;
		font-size: 22px;
		line-height: normal;
		font-family: $roboto;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		display: block;
	}
	.editOperations.close {
		margin: 0;
	}
}
.createmenu-header {
	h4 {
		display: inline-block;
		font-size: 24px;
		margin: 0;
		background: #f3f3f3;
		padding: 18px 18px 17px 25px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		color: $color_12;
		font-size: 22px;
		line-height: normal;
		font-family: $roboto;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		display: block;
	}
	.editOperations.close {
		margin: 0;
	}
}
.modal {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	background-color: $background_color_6;
	padding: 0;
	max-height: 70%;
	width: 55%;
	margin: auto;
	overflow-y: auto;
	border-radius: 2px;
	will-change: top, opacity;
	z-index: 12;
	.modal-content {
		padding: 20px;
	}
}
.modal.fullscreen {
	width: calc(100%);
	height: 100%;
	max-height: calc(100%);
	top: 0;
	left: 0;
	border-radius: 0px;
	background: #fff;
	overflow: hidden;
	background: #f4f5f7;
	.content-header {
		ul {
			li {
				a {
					padding-bottom: 3px;
				}
			}
		}
	}
	.editOperations.close{
		width: 20px;
		height: 26px;
		display: inline-block;
		margin-right: 8px;
		vertical-align: middle;
		cursor: pointer;
		top: unset;
		right: unset;
		position: relative;
		float: none;
	}
}
.modal-content {
	.editOperations.close {
		margin: 0;
		top: 22px;
		position: relative;
		right: 30px;
		z-index: 3;
	}
	.content-header {
		top: 0;
		left: 0;
		right: 0;
	}
}
.createmenu {
	text-align: right;
	img {
		width: 50px;
	}
}
.status-body {
	padding: 0 24px 30px 24px;
}
.popup-content-body {
	margin-top: 95px;
}

.popupjobno {
	p {
		margin-bottom: 0;
	}
	span.sitecode {
		margin: 0;
	}
}
.daterangepicker.single {
	position: absolute;
	width: 300px;
	.calendar-table {
		
		padding-right: 0 !important;
		td {
			float: left;
			margin: 0 6px;
		}
		th {
			float: left;
			margin: 0 6px;
		}
	}
	.drp-calendar.left.single {
		width: 100%;
		max-width: unset;
		padding: 14px;
	}
}
table.table-condensed {
	tbody {
		tr {
			&:hover {
				background: none;
			}
		}
	}
}
.createcontent-body {
	.body {
		margin-top: 47px;
	}
}


#primary_color{
	border-radius: 100%;
    height: 22px;
    width: 22px;
    border: none;
    outline: none;
	-webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
}
#color_val{
	display: inline-block;
    vertical-align: middle;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0;	
}
#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}


.contentBoxShadow{
	box-shadow: 0 0 7px #d3d3d3;
}

.contentBox{
	.tabs .tab a {
		font-size: 18px;
		font-family: $roboto;
		text-transform: none;
	}


	.checkboxWrap{
		vertical-align: middle;
		font-size: 14px;
		line-height: 34px;
		color: $black;

		> span, > a{
			vertical-align: middle;
		}
	}

	.headingtagWrap {
		border-bottom: 1px solid #c4c3c3;

		.dropdown-contents{
			width: auto;
			min-width: 119px;
			right: 0;
			left: auto;

			li a{
				white-space: nowrap;
			}
		}
	}

}


.dropdown-trigger[data-target="user_list"]{
	display: block;
	width: 220px;

	.jdicon{
		line-height: 28px;
		float: right;
	}
}

.contentBox .assigneeListTrigger{
	pointer-events: none;
    min-width: 279px;
    display: inline-block;
	height: 33px;
	
	.content:not(.ig){
		height: 36px;
		line-height: 36px;
		width: 73%;
	}
	.jdicon-carret{
		vertical-align: middle;

		&::before{
			vertical-align: middle;
		}
	}
	.inputAssignee{
		position: absolute;
		left: 0;
		padding-left: 39px;
		line-height: 29px;
		margin-bottom: 0;
		padding-bottom: 2px;
		padding-top: 5px;
		line-height: 28px;
		border-radius: 0;
		padding-left: 39px;
		width: 86% !important;
	}
	.inputAssignee:focus{
		box-shadow: inset 0 0 5px #ddd;
		border: 1px solid #ccc;
		border-radius: 4px;
		background: white;
		width: 86%;
	}

}

.assigneeList{
	max-width: 280px;
	min-width: 280px;
	z-index: 0;
	display: block !important;
	z-index: 1 !important;
	max-height: 278px;

	li.subTitle{
		padding-left: 16px;
		font-size: 13px;
		margin-top: 6px;
		margin-bottom: 3px;
		color: $textGrey;

		&:hover{
			background: none;
			color: $textGrey;
		}

		&.allUsers{

			~ li{
				border-top: 1px solid #ccc;
			}
		}
	}

	>li {
		> a {
			height: 52px;
			padding: 7px 16px;

			> span{
				.imgWrap{
					line-height: 32px;
					height: 32px;
					display: inline-block;
					float: left;

					> img{
						width: 32px;
						border-radius: 40px;
						border: 1px solid #a6a8a7;
						height: 32px;
					}
				}

				.email{
					font-size: 12px;
					float: left;
					line-height: 12px;
					color: $primaryColor;
					cursor: pointer;
				}
				.content{
					line-height: 15px;
					height: 15px;
				}
			}
		}
	}
}

.dropdown-content{
	border-radius: 3px;

	li{
		min-height: unset;
	}
}

.dropdown-content li>a, .dropdown-content li>span {
    padding: 7px 16px;
}

//create task button
#createTaskWrap{
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 9;
	@extend %blueGradient;
    line-height: 50px;
	text-align: center;
	cursor: pointer;
	right: 25px;
    bottom: 35px;	

	.jdicon{
		font-size: 18px;
		color: $white;
	}
}
#createTaskWrap:hover{
	background: $primaryColor;
}

#task[style="display: none;"] ~ #createTaskWrap{
	display: none;
}
#jobdetails[style="display: block;"] ~ #createTaskWrap{
	display: block;
}
#pagepoup.active ~ #createTaskWrap{
	display: block;
}

#jobdetails.view{
	#userlist_task{
		.jdicon-carret{
			opacity: 0;
		}
	}
}

.attachment-details{
	#inputtab, #outputtab, #inputtabS, #outputtabS, #inputtabSS, #outputtabSS{
		tbody tr{
			.jdicon{
				opacity: 0;
				transition: .2s all;
			}
		}
	}
}

.attachment-details{
	#inputtab, #outputtab, #inputtabS, #outputtabS, #inputtabSS, #outputtabSS{
		tbody tr:hover{
			.jdicon{
				opacity: 1;
			}
		}
	}
}



#jobcreate.create{
	.ctHide{
		display: none;
	}
}

#subtaskcreate{
	z-index: 999;
	.content-header{
		position: fixed;
		top: 0;
		left: 0;
		width: calc(100%);
	}
	.contentBox{
		margin-bottom: 25px; 
	}
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 14px;
    color: $textGrey;
    display: block;
    line-height: 22px;
	padding: 9px 16px;
	
	&:hover{
		color: $black;
	}
}

.datepicker{
	pointer-events: none;
}
#createJobCon{
	.datepicker{
		pointer-events: all;
	}
}

#createJobCon, {
	.content-body{
		margin-bottom: 73px;
	}
}
#subtaskcreate{
	.modal-content{
		margin-bottom: 73px;
	}
}


.select-wrapper{
	ul{
		li:first-child{
			display: none;
		}
	}
}

.select-wrapper{
	.multiple-select-dropdown{

		li {
			> span {
			padding: 5px 16px;

			[type="checkbox"] + span:not(.lever) {
				line-height: 15px;
				padding-left: 27px
			}
		}
		}
	}
}

.toTask{
	cursor: pointer;
	i{
		color: $primaryColor;
		font-size: 14px;
    	margin-left: 7px;
	}
}
.textarea-edit{
	position: relative;
	textarea{
		width: 100%;
	}
}

.body-overlay{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    background: #000;
    display: none;
    z-index: 99;
}

.attachment-details.emptyTable{
	tbody{
		background-image:url('../images/tablesBlurAtt.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
}


// scrollbar
#createOrder{
    right: 0px;
    left: auto !important;
}

.preventScroll{
	overflow: hidden;
	max-height: 100vh;
}


.Messages{
	.attachedFileArea{
		padding: 0 20px 15px 0;
		background: #fbfbfb;

		.col{
			padding-left: 20px;
			
			.attachedFile{
				background: $white;
				position: relative;
				display: block;
				padding: 10px;
				border-radius: 4px;
				border: 1px solid #ccc;
				transition: .2s border-color;

					.attImg{
						border-radius: 3px; 
						float: left;						
					}
					.fileName{
						display: inline-block;
						line-height: 17px;
						padding-left: 12px;
						float: left;
						color: $textGrey;
						margin-top: 1px;
						padding-right: 50px;
						
						span{
							font-size: 11px;
							opacity: .8;
						}
					}
					i{
						display: inline-block;
						position: absolute;
						right: 15px;
						vertical-align: middle;
						top: 50%;
						transform: translateY(-50%);
					}
					.progress{
						position: absolute;
						width: 100%;
						bottom: 0;
						left: 0;
						margin: 0;
						height: 3px;

						div.determinate{
							background: #3c96ef;
						}
					}
				}
				.attachedFile.uploading{	
					border-bottom: 1px transparent solid;
				}
				.attachedFile:hover{	
					border: 1px solid $black;
				}
		}

	}
	.attachedFileArea.old{
		margin: 7px 0 0 20px;
    	padding-bottom: 10px;
	}
	.btn-dotted{
		border: 1px #ccc dashed;
		border-radius: 3px;
		background-color: $white;
		color: $textGrey;
		text-align: center;
		width: 64%;
		transition: .2s all;

		i{
			top: 5px;
			line-height: normal;
			position: relative;
			margin-right: 5px;
		}
	}
	.btn-dotted:hover{
		border: 1px $black dotted;
		background-color: $white;
		color: $black;

		i{
			color: $black;
		}
	}
}

.searchDropdown{
    position: absolute;
    z-index: 9999;
    background: white;
	color: $textGrey;
	width: 100%;
	text-align: left;
	padding: 10px 15px 15px 15px;
	border-radius: 3px;
	box-shadow: 3px 3px 6px #ddd;
	border: 1px solid #ccc;
	display: none;
	height: 187px;

	.searchDropdownCon{
		i.jdicon.jdicon-close{
			position: absolute;
			right: 15px;
			top:-5px;
			font-size: 12px; 
			color: $textGrey;
		}
		i.jdicon.jdicon-close:hover{
			color: $black;
		}
	}
	p{
		margin-top: 15px; 
	}

	a{
		color: $primaryColor;
	}

	.iconPlaceholder{
		display: inline-block;
		vertical-align: middle;
		padding-right: 8px;
		font-size: 18px;
	}

	
	ul{
		display: block;
		li{
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 14px;
			white-space: nowrap;
			display: block;
			float: none;
			line-height: 40px;
			border-bottom: 1px solid #ccc;
			cursor: pointer;
			transition: .2s color;

			&:hover{
				color: $black;
			}
		}
	}
}


.filter-values{
    padding: 0;
	display: none;
	padding-top: 5px;

    .filter-item{
        display: inline-block;
        @extend %greyGradient;
        padding: 2px 10px;
        border: 1px solid #d4d4d4;
        border-radius: 3px;
        color: $textGrey;
        cursor: pointer;
        margin: 10px 10px 0px 0;
        line-height: 23px;
        height: 30px;

        .filter-text{
            font-size: 13px;
        }

        .icon-left{
            margin-right: 5px;
        }

        .icon-right{
            margin-left: 5px;
        }

        i{
            font-size: 7px;
            color: $textGrey;
            transition: color 0s;
			padding-left: 5px;
			// opacity: 0;
        }
        i:hover{
            color: $black;
        }

        i.fas.fa-filter{
            font-size: 10px;
        }
    }
    .filter-item:not(.selected-filters):hover{
        color: $white;
        background: $primaryColor;
        border: 1px solid transparent;
        i{
            color: $white;
        }
    }
    .filter-item.selected-filters{
        padding: 1px 7px 2px 6px;
		background: #fff;
		
		&:hover{
			i{
				// opacity: 1;
			}
		}
    }
}


#reports{
	padding-top: 121px;

	.content-header.reportsHead{
		height: 62px;

		.headeredit{
			line-height: 33px;
		}

	}
	.content-body{
		background: $white;
		padding: 17px 15px 20px;
	}
	.padding{
		top: 105px;
	}
	.reportTableWrap{
		height: calc(100vh - 137px);
	}
}

.launchIcon{
    margin-left: 3px;
}