{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>NewsBot Application</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta description="viewport" content="NewsBot Application">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link href="{% static 'css/jdNextGenIconFont.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" href="{% static 'scss/style.scss' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="sidebar-mini">
<nav class="nav-wrapper center" style="left: 0;">
    <!-- Toggle Menu Link -->
    <ul class="left mRight">
        <li class="toggleMenu">
            <a href="#" class="menu-link center-align">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </a>
        </li>
        <li>

            <div class="brand-logo">
                <a href="/myapp/" class="left-align">
                    <img src="{% static 'images/2adpro.png' %}" alt="logo" href="#">
                </a>
            </div>
        </li>
    </ul>

    <div class="search-container hide-on-med-and-down">
    </div>
    <ul class="right mRight navSideMenu">
        <li class="footer"><a href="{% url 'myapp:logout' %}" class="btn btn-primary btn-small">Logout</a>
    </ul>
</nav>

<aside class="sidebar">
    <div id="sideNav" class="side-menu open">
        <ul class="list tabs" id="sideNavTab">
            <li class="tab">
                <a href="/" id="landingScreen" class="active">
                    <div class="spriteWrap">
                        <span class="menuSprite report"></span>
                    </div>
                    <p>Dashboard</p>
                </a>
            </li>


        </ul>
    </div>
</aside>

<div class="body-overlay"></div>


<!-- landing page -->
<div id="task" style="padding-bottom: 200px;padding-top: 10px; border-left-width: 20px; border-right-width: 100px;">
    {% if user.is_authenticated == false %}
        <a href="{% url 'myapp:login' %}">login</a>
    {% else %}
        <div class="content-body rhs" style="margin-top: 0;">

            {% block content %}
            {% endblock %}
        </div>

    {% endif %}


</div>
<!-- landing page -->


<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/upload.js' %}"></script>#}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.js' %}"></script>

</body>
</html>



      