{% extends 'base.html' %}
{% block content %}
    <hr>
    <div class="container col-sm-12" style="margin-right: 0;margin-left: 0;margin-top: 30px;width: 100%">
        <div class="row" style="margin-bottom: 20px;">
            <p><span>Download Complete Results</span>
                <a href="{% url 'myapp:download' %}">{{ output_filename }}.csv</a></p>
        </div>
        <div class="row" style="overflow: scroll;">
            <div class="panel panel-default" style="">
                <table class="table table-fixed" id="sim-table" style="width: 100%; display:block;">
                    <thead>
                    <tr>
                        <th><p style="font-size: 13px;">News URL</p></th>
                        <th><p style="font-size: 13px; float: left">Summary</p></th>
                        <th><p style="font-size: 13px;">Similarity score</p></th>

                        <th><p class="fa fa-reddit" title="Reddit"> Reddit Shares</p></th>
                        <th><p class="fa fa-google" title="GooglePlus"> G+ Shares</p></th>
                        <th><p class="fa fa-facebook" title="facebook"> FB Shares</p></th>
                        <th><p class="fa fa-linkedin" title="Linkedin"> Ln Shares</p></th>
                    </tr>
                    </thead>
                    <tbody style="height:400px; width: 100%; display:block;">
                    {% for obj in documents %}
                        <tr>
                            <td class="col-xs-3" style=""><a href="{{ obj.url }}" target="_blank" style="font-size: 10px">Click here</a></td>
                            <td class="col-xs-4" style=""><a>{{ obj.firstLine }}</a></td>
                            <td class="col-xs-3" style="">{{ obj.simscore }}</td>
                            <td class="col-xs-3" style=""><a>{{ obj.socialsharesReddit }}</a></td>
                            <td class="col-xs-3" style=""><a>{{ obj.socialsharesGoogle }}</a></td>
                            <td class="col-xs-3" style=""><a>{{ obj.socialsharesFb }}</a></td>
                            <td class="col-xs-3" style=""><a>{{ obj.socialsharesLinkedin }}</a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p style="margin-top: 30px;"><a href="{% url 'myapp:list' %}">Return to home</a></p>
{% endblock %}
