{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NewsBot Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'dist/css/vendor/bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'dist/css/flat-ui.css' %}" >
    <link rel="stylesheet" href="{% static 'docs/assets/css/demo.css' %}" >
    <link rel="shortcut icon" href="{% static 'img/favicon.icon' %}">
  </head>
    {% block javascript %}
     <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/selectSim.js' %}"></script>
    {% endblock %}  
    <style>
      hr { 
          display: block;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          margin-left: auto;
          margin-right: auto;
          border-style: inset;
          border-width: 1px;
      } 
      .navbar {
      margin-bottom: 0;
      border-radius: 0;
      }
      .sidenav {
      #padding-top: 20px;
      background-color: #f1f1f1;
      #height: 100%;
      }
      footer {
      background-color: #555;
      color: white;
      padding: 15px;
       }
    .row.content {height: 500px}

      .button {
          background-color: #d9534f; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }

      .disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
</style>
 
    </head>

    <body>

 <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
               <a href="#" class="navbar-brand"><img src="{% static 'img/newsbot.png' %}"></a> 
              <!--<a class="navbar-brand" href="#">Logo</a>-->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
               <!-- <li><a href="#">User</a></li> -->
               <li><a href="#"> Social Share Estimator for News Articles </a></li>
               
              </ul>
          </div>
          </div>
      </nav>
    <div class="container-fluid text-center">    
                
        <div class="row content">
          <div class="col-sm-1 sidenav"></div>
          <div class="col-sm-10 text-left"> 
      
  <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}        
             
            <main>
            {% block content %}
            <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'myapp:list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
            {% endblock %}
            </main>
          </div> 
          <div class="col-sm-2 sidenav"></div>       
        </div>
        
     </div>
    
  </body>

</html>
