{% extends 'base_login.html' %}


{% block content %}

    <div class="wrap-login100 p-t-50 p-b-90">

        <form method="post" class="login100-form validate-form flex-sb flex-w">
            {% csrf_token %}
            <span class="login100-form-title p-b-51">
						Login
					</span>
            {% if form.errors %}
                <p style="color: red; margin-bottom: 20px;">Your username and password didn't match. Please try again.</p>
            {% endif %}
            <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                <input class="input100" type="text" name="username" placeholder="Username"
                       id="id_username">

                <span class="focus-input100"></span>
            </div>


            <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">

                <input class="input100" type="password" name="password" placeholder="Password"
                       id="id_password">

                <span class="focus-input100"></span>
            </div>


            <div class="container-login100-form-btn m-t-17">
                <button name="next" class="login100-form-btn" type="submit" value="login">
                    Login
                </button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>

        </form>
    </div>
{% endblock %}

