{% extends 'base.html' %}

{% block content %}
    <div>
        <h2 style="margin-bottom: 30px;">File Upload & processing</h2>

        <!-- Upload  -->
        <form method="post" action="{% url 'myapp:list' %}" enctype="multipart/form-data" id="file-upload-form" class="uploader">
            {% csrf_token %}
            <input id="file-upload" type="file" name="myfile" onchange="this.form.submit()"/>
            <label for="file-upload" id="file-drag">
                <div id="start">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div>Select a file or drag here</div>
                    <div id="notimage" class="hidden">Please select text file</div>
                    <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                </div>
                <div id="response" class="hidden">
                    <div id="messages"></div>

                </div>
            </label>
        </form>
    </div>
{% endblock %}
